
.stepper-title {
    font-size: 20px !important;
    margin: 0 !important;
}

.credit-card {
    position: relative;
    padding: 1em;
    cursor: pointer;

    ion-img {
        position: absolute;
        width: 48px;
        right: 20px;
        bottom: 0;
    }
}

.order-container {
    counter-reset: group;
}

.order-resume .title {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.retiro-tienda {
    
    ion-item {
        --background-hover: none;
        
        ion-radio {
            --color: var(--ion-color-primary);
        }
        
        ion-label {
            font-family: AmpleSoft Pro;
            margin-left: .5em;
        }
    }
}
