<app-header [cargando]="cargando"></app-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <ion-grid class="order-container px-md-5 px-xs-3">

    <ion-row>

      <ion-col size="12" class="order-title mt-md-4 mt-sm-0">
        <div class="group-title d-sm-flex d-md-none align-items-center justify-content-center">
          <ion-icon slot="start" name="cart" color="primary"></ion-icon>
          <h1 class="text-center ml-2">Finalizar pedido</h1>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <!-- INICIO SECCION IZQUIERDA -->
      <ion-col size="12" size-md="8" class="details-container" *ngIf="stepperEditable">

        <ion-row>
          <!-- INICIO DATOS ENVIO -->
          <ion-col size="12">
            <div class="group-title">
              <h2 class="d-flex align-items-center mt-0">
                <span class="mark"></span>
                <span>Datos de envio</span>
              </h2>
            </div>

            <form [formGroup]="datosEnvio">

              <div class="field-row">
                <div class="field _required fl-placeholder-state"
                  [ngClass]="{'fl-label-state': datosEnvio.value.persona}">
                  <div class="control">
                    <label class="label"><span>Nombre completo o Razón Social</span></label>
                    <input type="text" class="input-text" formControlName="persona" appOnFocus>
                  </div>
                </div>
              </div>

              <div class="field-row">
                <div class="field _required fl-placeholder-state"
                  [ngClass]="{'fl-label-state': datosEnvio.value.nro_documento}">
                  <div class="control">
                    <label class="label"><span>CI/RUC</span></label>
                    <input type="text" class="input-text" formControlName="nro_documento" appOnFocus>
                  </div>
                </div>
              </div>

              <div class="field-row">
                <div class="field _required fl-placeholder-state"
                  [ngClass]="{'fl-label-state': datosEnvio.value.telefono}">
                  <div class="control">
                    <label class="label"><span>Télefono</span></label>
                    <input type="text" class="input-text" formControlName="telefono" appOnFocus>
                  </div>
                </div>
              </div>

            </form>
          </ion-col>
          <!-- FIN DATOS ENVIO -->

          <!-- INICIO TIPO ENVIO -->
          <ion-col size="12" class="mt-4">
            <div class="group-title">
              <h2 class="d-flex align-items-center">
                <span class="mark"></span>
                <span>MÉTODO DE ENVIO</span>
              </h2>
            </div>

            <form class="form" [formGroup]="datosEnvio">

              <div class="field-row">
                <div class="field _required fl-label-state">
                  <div class="control">
                    <label class="label">
                      <span>Seleccionar método</span>
                    </label>
                    <select class="select" formControlName="tipo_envio" name="tipo_envio" placeholder="Seleccionar"
                      (change)="datosEnvioSelect($event.target.value, 'tipo_envio')">
                      <option value="0">Por favor seleccione un método de envio</option>
                      <option value="DE">DELIVERY</option>
                      <option value="RT">RETIRO EN TIENDA</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- tipo de envio delivery -->
              <div *ngIf="datosEnvio.value.tipo_envio == 'DE'" [@enterAnimation]>

                <div class="field-row" *ngIf="!mostrarCiudades">
                  <div class="field _required fl-placeholder-state">
                    <div class="control">
                      <label class="label"><span>Ciudad</span></label>
                      <input type="text" class="input-text" readonly>
                    </div>
                  </div>
                </div>

                <div class="field-row" *ngIf="mostrarCiudades">
                  <div class="field _required fl-label-state">
                    <div class="control">
                      <label for="" class="label"><span>Ciudad</span></label>
                      <select formControlName="id_ciudad" name="ciudad" class="select" placeholder="Ciudad"
                        (change)="datosEnvioSelect($event.target.value, 'ciudad')">
                        <option value="0">-- SELECCIONE--</option>
                        <option *ngFor="let ciudad of listaCiudades" value="{{ ciudad.identificador }}">
                          {{ ciudad.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field-row" *ngIf="!mostrarBarrios">
                  <div class="field _required fl-placeholder-state">
                    <div class="control">
                      <label class="label"><span>Barrio</span></label>
                      <input type="text" class="input-text" readonly>
                    </div>
                  </div>
                </div>

                <div class="field-row" *ngIf="mostrarBarrios">
                  <div class="field _required fl-label-state">
                    <div class="control">
                      <label class="label"><span>Barrio</span></label>
                      <select formControlName="id_barrio" name="barrio" class="select" placeholder="Barrio"
                        (change)="datosEnvioSelect($event.target.value, 'barrio')">
                        <option value="0">-- SELECCIONE--</option>
                        <option *ngFor="let barrio of listaBarrios" value="{{ barrio.identificador }}">
                          {{ barrio.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field-row">
                  <div class="field _required fl-placeholder-state"
                    [ngClass]="{'fl-label-state': datosEnvio.value.direccion}">
                    <div class="control">
                      <label class="label"><span>Dirección</span></label>
                      <input type="text" name="direccion" class="input-text" formControlName="direccion" appOnFocus>
                    </div>
                  </div>
                </div>

                <div class="field-row">
                  <div class="field _required fl-placeholder-state"
                    [ngClass]="{'fl-label-state': datosEnvio.value.ubicacion}">
                    <div class="control">
                      <div class="field-tooltip toggle"><span class="field-tooltip-action"></span></div>
                      <label class="label"><span>Ubicación</span></label>
                      <input type="text" name="ubicacion" class="input-text" formControlName="ubicacion" readonly
                        (click)="abrirModal()" appOnFocus>
                    </div>
                  </div>
                </div>
              </div>

              <!-- tipo envio retiro en tienda -->
              <div *ngIf="datosEnvio.value.tipo_envio == 'RT'" [@enterAnimation]>

                <form [formGroup]="datosEnvio">

                  <ion-radio-group name="asignado" value="me" class="d-flex retiro-tienda" formControlName="asignado">

                    <ion-item lines="none">
                      <ion-radio value="me"></ion-radio>
                      <ion-label for="me">Lo retirare yo</ion-label>
                    </ion-item>

                    <ion-item lines="none">
                      <ion-radio value="other"></ion-radio>
                      <ion-label>Lo va a retirar otra persona</ion-label>
                    </ion-item>

                  </ion-radio-group>

                  <div *ngIf="datosEnvio.value.asignado == 'other'" [@enterAnimation]>

                    <div class="field-row">
                      <div class="field _required fl-placeholder-state"
                        [ngClass]="{'fl-label-state': datosEnvio.value.persona}">
                        <div class="control">
                          <label class="label"><span>Nombre completo</span></label>
                          <input type="text" class="input-text" formControlName="nombre_asignado" appOnFocus>
                        </div>
                      </div>
                    </div>

                    <div class="field-row">
                      <div class="field _required fl-placeholder-state"
                        [ngClass]="{'fl-label-state': datosEnvio.value.nro_documento}">
                        <div class="control">
                          <label class="label"><span>CI</span></label>
                          <input type="text" class="input-text" formControlName="nro_documento_asignado" appOnFocus>
                        </div>
                      </div>
                    </div>

                    <div class="field-row">
                      <div class="field _required fl-placeholder-state"
                        [ngClass]="{'fl-label-state': datosEnvio.value.telefono}">
                        <div class="control">
                          <label class="label"><span>Télefono</span></label>
                          <input type="text" class="input-text" formControlName="telefono_asignado" appOnFocus>
                        </div>
                      </div>
                    </div>

                  </div>

                </form>

              </div>

            </form>
          </ion-col>
          <!-- INICIO TIPO ENVIO -->

          <!-- INICIO OBSERVACIONES -->
          <ion-col size="12" class="mt-4">
            <div class="group-title">
              <h2 class="d-flex align-items-center">
                <span class="mark"></span>
                <div>OBSERVACIÓN <span style="font-size: 16px;">(Opcional)</span></div>
              </h2>
            </div>

            <form class="form" [formGroup]="datosEnvio">
              <div class="form-group">
                <textarea class="form-control" formControlName="observacion"></textarea>
              </div>
            </form>
          </ion-col>
          <!-- FIN INICIO OBSERVACIONES -->

          <!-- INICIO MEDIOS DE PAGO -->
          <ion-col size="12" class="mt-4 payment-methods">
            <div class="group-title">
              <h2 class="d-flex align-items-center">
                <span class="mark"></span>
                MÉTODO DE PAGO
              </h2>
            </div>

            <form [formGroup]="datosPago">

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'ATCD'}">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="ATCD" [checked]="datosPago.value.tipo == 'ATCD'" #agregarTarjeta (click)="checkTipoPago(agregarTarjeta)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(agregarTarjeta)">
                    <div class="radio left">
                      <span class="titulo-pago">Agregar tarjeta crédito/débito</span>
                      <span class="descripcion-pago">Acepta todas las tarjetas de la red Infonet /
                        www.infonet.com.py</span>
                    </div>
                    <figure class="img-pago">
                      <ion-img src="/assets/svg/bancard.svg" class="payment-icon" style="width: 150px;"></ion-img>
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content">
                  <p>A continuación usted pasará por única vez por un proceso de validación con preguntas de
                    seguridad. Para iniciar favor tener en cuenta las siguientes recomendaciones:</p>
                  <ul>
                    <li>Verifique su número de cédula de identidad</li>
                    <li>Tenga a mano sus tarjetas de crédito y débito activas</li>
                    <li>Verifique el monto y lugar de sus últimas compras en comercios o extracciones en cajeros</li>
                  </ul>
                </div>
              </div>

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'PWTK'}" *ngIf="usuario && usuario.tiene_tarjetas">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="PWTK" [checked]="datosPago.value.tipo == 'PWTK'" #pagarUsandoToken (click)="checkTipoPago(pagarUsandoToken)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(pagarUsandoToken)">
                    <div class="radio left">
                      <span class="titulo-pago">Seleccionar tarjeta</span>
                      <span class="descripcion-pago">Acepta todas las tarjetas de la red Infonet /
                        www.infonet.com.py</span>
                    </div>
                    <figure class="img-pago">
                      <ion-img src="/assets/svg/bancard.svg" class="payment-icon" style="width: 150px;"></ion-img>
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content">
                  <div class="row" *ngFor="let tarjeta of tarjetas">
                    <div class="col-md-12">
                      <ion-card class="credit-card" (click)="seleccionarTarjeta(tarjeta.card_id)"
                        [ngClass]="{'bg-primary text-white': datosPago.value.card_id == tarjeta.card_id}">
                        <ion-label>{{ tarjeta.card_brand | truncateText:10}} {{ tarjeta.card_masked_number }}
                        </ion-label>
                        <ion-img [class]="tarjeta.card_brand | cardBrand:'class'"
                          [src]="tarjeta.card_brand | cardBrand:'icon'"></ion-img>
                      </ion-card>
                    </div>
                  </div>
                </div>
              </div>

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'PO'}">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="PO" [checked]="datosPago.value.tipo == 'PO'" #pagoOnline (click)="checkTipoPago(pagoOnline)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(pagoOnline)">
                    <div class="radio left">
                      <span class="titulo-pago">Pago único (tarjeta crédito/débito)</span>
                      <span class="descripcion-pago">Acepta todas las tarjetas de la red Infonet / www.infonet.com.py</span>
                    </div>
                    <figure class="img-pago">
                      <ion-img src="/assets/svg/bancard.svg" class="payment-icon" style="width: 150px;"></ion-img>
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content">
                  <ion-img src="assets/images/pago-seguro.jpg" style="width: 250px;"></ion-img>
                </div>
              </div>

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'BZ'}">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="BZ" [checked]="datosPago.value.tipo == 'BZ'" #billeteraZimple (click)="checkTipoPago(billeteraZimple)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(billeteraZimple)">
                    <div class="radio left">
                      <span class="titulo-pago">Billetera Zimple</span>
                      <span class="descripcion-pago">www.zimple.com.py</span>
                    </div>
                    <figure class="img-pago">
                      <ion-img src="/assets/icon/zimple.png" class="payment-icon" style="width: 50px;"></ion-img>
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content">
                  <!-- <div class="form-row">
                    <div class="field _required fl-placeholder-state">
                      <div class="control">
                        <label class="label"><span>Ingrese su número de telefono</span></label>
                        <input type="text" class="input-text">
                      </div>
                    </div>
                  </div> -->
                  <p>Zimple es la nueva billetera electrónica conectada con el sistema financiero, creada para que
                    puedas realizar transacciones de forma rápida, segura y simple.</p>
                </div>
              </div>

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'PERC'}">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="PERC" [checked]="datosPago.value.tipo == 'PERC'" #pagoEfectivo (click)="checkTipoPago(pagoEfectivo)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(pagoEfectivo)">
                    <div class="radio left">
                      <span class="titulo-pago">Pagar en mi casa con Efectivo o Al retirar</span>
                      <span class="descripcion-pago">Debe presentar su documento de identidad para confirmar</span>
                    </div>
                    <figure class="img-pago">
                      <!-- <ion-img src="/assets/svg/bancard.svg" class="payment-icon" style="width: 150px;"></ion-img> -->
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content">
                  <div class="form-row">
                    <div class="field _required fl-placeholder-state" [ngClass]="{'fl-label-state': datosPago.value.importe}">
                      <div class="control">
                        <label class="label"><span>Importe en Gs.</span></label>
                        <input type="text" class="input-text" formControlName="importe" appOnFocus>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <span class="text-secondary">* Por favor ingrese el monto en Gs. que utilizara para hacer el pago,
                      para facilitarle el vuelto correspondiente</span>
                  </div>
                </div>
              </div>

              <div class="payment-method" [ngClass]="{'_active': datosPago.value.tipo == 'PCTCD'}">
                <div class="payment-method-title field choice">
                  <ion-radio type="radio" value="PCTCD" [checked]="datosPago.value.tipo == 'PCTCD'" #pagoTarjeta (click)="checkTipoPago(pagoTarjeta)"></ion-radio>
                  <label class="label" (click)="checkTipoPago(pagoTarjeta)">
                    <div class="radio left">
                      <span class="titulo-pago">Pagar en casa o al retirar con Tarjeta Crédito, Débito</span>
                      <span class="descripcion-pago">Debe presentar su documento de identidad para confirmar</span>
                    </div>
                    <figure class="img-pago">
                      <!-- <ion-img src="/assets/svg/bancard.svg" class="payment-icon" style="width: 150px;"></ion-img> -->
                    </figure>
                  </label>
                </div>
                <div class="payment-method-content"></div>
              </div>

            </form>
          </ion-col>
          <!-- FIN MEDIOS DE PAGO -->

        </ion-row>

      </ion-col>
      <!-- FIN SECCION IZQUIERDA -->

      <!-- INICION SECCION DERECHA -->
      <ion-col size="12" size-md="4" class="resume-container">
        <div class="cart-total order-total mb-3">

          <div class="header d-flex align-items-center mb-3">
            <ion-icon slot="start" name="checkmark-circle-outline" color="primary"></ion-icon>
            <div class="subheader">
              <span class="title ml-2">Resumen del pedido</span>
              <span class="subtitle ml-2" *ngIf="carrito">{{ carrito.length }} productos en el carrito</span>
            </div>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <span>Sub Total</span>
            <span class="text-right">{{ totales.subtotal | numberFormat }} Gs.</span>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <span>Delivery</span>
            <span class="text-right">{{ totales.delivery | numberFormat }} Gs.</span>
          </div>

          <div class="d-flex justify-content-between pb-2">
            <span>Descuento</span>
            <span class="text-right">{{ totales.descuento | numberFormat }} Gs.</span>
          </div>

          <hr class="border-top">

          <div class="d-flex justify-content-between total-price">
            <span>Total</span>
            <span class="text-right"><b>{{ totales.total | numberFormat }} Gs.</b></span>
          </div>

          <hr class="border-top">

          <div class="col-auto p-0" *ngIf="stepperEditable">
            <form (ngSubmit)="obtenerCupones()">

              <div class="form-row">
                <div class="field fl-placeholder-state">
                  <div class="control">
                    <label for="" class="label"><span></span></label>
                    <input type="text" name="cupon" class="input-text" placeholder="Ingrese el cupón de descuento" [(ngModel)]="cuponDescuento.codigo">
                  </div>
                </div>
              </div>

              <div class="actions-toolbar d-flex justify-content-end">
                <button class="btn btn-primary" type="submit" [disabled]="!stepperEditable">Aplicar</button>
              </div>

            </form>
          </div>

          <div class="form-group" *ngIf="cuponDescuento.length">
            <p class="d-flex">
              <span>{{ cuponDescuento.descripcion }}</span>
              <span style="text-align: right;">{{ cuponDescuento.porcentaje | numberFormat }} %</span>
            </p>
          </div>

          <div class="form-group" *ngIf="!cuponDescuento.length && submitCuponDescuento">
            <p class="text-danger">No existe el cupon de descuento</p>
          </div>

          <div class="finish-order mt-3">
            <button (click)="procesarPedido()" class="btn btn-primary btn-block" mat-button
              [disabled]="datosEnvio.invalid || datosPago.invalid || !stepperEditable">Finalizar pedido</button>
          </div>

          <div class="info mt-2">
            <p>Tu compra está protegida por Ley. Luego de recibir tu producto tienes 5 días hábiles para solicitar
              reembolso. Ley 4868/13 Decreto 1165/2014 del Ministerio de Industria y Comercio</p>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-md="8" class="iframe-container" *ngIf="!stepperEditable">
        <div id="iframe-pago-unico"></div>
        <div id="iframe-catastro-tarjeta"></div>
      </ion-col>

    </ion-row>

  </ion-grid>

  <app-footer></app-footer>

</ion-content>