<app-header [cargando]="cargando"></app-header>

<ion-content>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<div class="container d-flex">
				<li class="breadcrumb-item"><a [routerLink]="['/']">INICIO</a></li>
				<li class="breadcrumb-item active" aria-current="page">ACERCA DE</li>
			</div>
		</ol>
	</nav>

	<section class="ftco-section">
		<section class="container ftco-no-pb ftco-no-pt bg-light" style="border-radius: 15px;">
			<div class="row">
				<div class="text-justify" style="padding: 40px;">
					<p>El Supermercado Ypacaraí está ubicado en la ciudad de Ypacaraí es una unidad
						operativa
						del grupo Trade Group S.A., es un establecimiento comercial de venta al por menor
						que
						ofrece bienes de consumo en sistema de autoservicio entre los que se encuentran
						alimentos, artículos de higiene, perfumería, limpieza, etc.
					</p>
					<p>
						El Supermercado Ypacaraí abrió sus puertas oficialmente a los clientes el 31 de
						Diciembre de 2013 con un solo establecimiento comercial ubicada en el centro de la
						ciudad específicamente sobre Rodríguez de Francia entre Mcal. López y Gral. Díaz.
					</p>
					<p>
						Desde su inauguración han desarrollado un plan de crecimiento y mejora continua,
						invirtiendo en maquinarias, equipos, infraestructura, imagen, comunicación y, sobre
						todo, en recursos humanos altamente capacitados.
					</p>
				</div>
			</div>
		</section>
	</section>
	<br><br>

	<app-footer></app-footer>
</ion-content>