<div class="row">
    <div class="col-md-12">
      
      <div class="card" *ngIf="!form">
        <div class="card-header">
          <button class="btn btn-primary" (click)="viewForm(true, 'INS', true)">Agregar</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Ciudad
                </th>
                <th>
                  Nombre
                </th>
                <th class="text-right">
                  Opciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of listaBarrio">
                  <td>
                    {{ row.ciudad.nombre }}
                  </td>
                  <td>
                    {{ row.nombre }}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-warning" (click)="getBarrio(row.identificador)"><i class="fas fa-edit"></i></button> &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-center align-items-center col-md-12">
              <span *ngIf="cargando && !form && action == 'LST'" class="spinner-border spinner-border-lg spinner-table" role="status" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="form">
        <div class="card-body">
          <div class="table-responsive">
            <form>
                
                <div class="form-group">
                    <label for="">Pais</label>
                    <select name="id_ciudad" class="form-control" [(ngModel)]="barrio.id_ciudad">
                        <option>-- SELECCIONAR --</option>
                        <option *ngFor="let ciudad of listaCiudad" value="{{ciudad.identificador}}" [selected]="ciudad.identificador == barrio.id_ciudad">{{ciudad.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="barrio.nombre">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" (click)="register()" *ngIf="action == 'INS'">
                        <span *ngIf="cargando && action == 'INS'" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>
                        Guardar
                    </button>
                    <button type="button" class="btn btn-warning" (click)="update()" *ngIf="action == 'UPD'">
                        <span *ngIf="cargando && action == 'UPD'" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>
                        Actualizar
                    </button>
                    <button type="button" class="btn btn-danger" (click)="viewForm(false, 'LST')">
                      Cancelar
                    </button>
                </div>

                
                <div class="card-footer">
                    <div class="alert alert-danger alert-dismissible col-md-6 mt-4" *ngIf="errors.length > 0">
                        <p *ngFor="let error of errors" class="mt-2 mb-0"> {{ error }} </p>
                    </div>
                </div>

              </form>
          </div>
        </div>
      </div>

    </div>
</div>
  