<div class="main-panel">
  <div class="content">

    <app-breadcrumb></app-breadcrumb>

    <div class="row">
      <div class="col-md-12">

        <div class="card" *ngIf="!form">
          <div class="card-header">
            <button class="btn btn-primary pull-right"
              (click)="mostrarFormulario(true, 'INS', true)">Agregar</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Número</th>
                  <th>Número Desde</th>
                  <th>Número Hasta</th>
                  <th>Fecha Desde</th>
                  <th>Fecha Hasta</th>
                  <th class="text-right">Opciones</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="text" class="form-control" name="numero" placeholder="Número" [(ngModel)]="filtrosTabla.numero" (keyup.enter)="filtrarTabla($event)">
                    </td>
                    <td>
                      <input type="text" class="form-control" name="numero_desde" placeholder="Número Desde" [(ngModel)]="filtrosTabla.numero_desde" (keyup.enter)="filtrarTabla($event)">
                    </td>
                    <td>
                      <input type="text" class="form-control" name="numero_hasta" placeholder="Número Hasta" [(ngModel)]="filtrosTabla.numero_hasta" (keyup.enter)="filtrarTabla($event)">
                    </td>
                    <td>
                      <input type="date" class="form-control" name="fecha_desde" placeholder="Fecha Desde" [(ngModel)]="filtrosTabla.fecha_desde" (change)="filtrarTabla($event)">
                    </td>
                    <td>
                      <input type="date" class="form-control" name="fecha_hasta" placeholder="Fecha Hasta" [(ngModel)]="filtrosTabla.fecha_hasta" (change)="filtrarTabla($event)">
                    </td>
                    <td class="text-right">
                      <button class="btn btn-sm btn-danger" (click)="filtrarTabla(null)"><i class="fas fa-times"></i></button> &nbsp;
                    </td>
                  </tr>
                  <tr *ngFor="let row of listaTimbrado | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                    <td>{{ row.numero }}</td>
                    <td>{{ row.numero_desde }}</td>
                    <td>{{ row.numero_hasta }}</td>
                    <td>{{ row.fecha_desde | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ row.fecha_hasta | date: 'dd/MM/yyyy' }}</td>
                    <td class="text-right">
                      <button class="btn btn-sm btn-warning" (click)="obtenerTimbrado(row.identificador)"> <i class="fas fa-edit"></i> </button> &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!cargando && !form && accion == 'LST'">
                <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="listaTimbrado" [porPagina]="porPagina" [total]="total"></app-paginacion>
              </div>
              <div class="row justify-content-center align-items-center col-md-12">
                <span *ngIf="cargando && !form && accion == 'LST'" class="spinner-border spinner-border-lg spinner-table" role="status" aria-hidden="true"></span>
              </div>
            </div>


          </div>
        </div>

        <!-- SECCION FORMULARIO -->
        <div class="card" *ngIf="form">
          <div class="card-body">
            <div class="table-responsive">
              <form #formulario="ngForm">
                <div class="form-group">
                  <label for="Numero">Número</label>
                  <input type="text" class="form-control" placeholder="Número" name="numero" [(ngModel)]="timbrado.numero" required #numero="ngModel">
                  <span class="invalid-feedback d-block" *ngIf="!numero.valid && numero.touched">Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                  <label for="Numero Desde">Número Desde</label>
                  <input type="text" class="form-control" placeholder="Número Desde" name="numero_desde" [(ngModel)]="timbrado.numero_desde" required #numero_desde="ngModel">
                  <span class="invalid-feedback d-block" *ngIf="!numero_desde.valid && numero_desde.touched">Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                  <label for="Numero Hasta">Número Hasta</label>
                  <input type="text" class="form-control" placeholder="Número Hasta" name="numero_hasta" [(ngModel)]="timbrado.numero_hasta" required #numero_hasta="ngModel">
                  <span class="invalid-feedback d-block" *ngIf="!numero_hasta.valid && numero_hasta.touched">Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                  <label for="Fecha Desde">Fecha Desde</label>
                  <input type="date" class="form-control" placeholder="Fecha Desde" name="fecha_desde" [(ngModel)]="timbrado.fecha_desde" required #fecha_desde="ngModel">
                  <span class="invalid-feedback d-block" *ngIf="!fecha_desde.valid && fecha_desde.touched">Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                  <label for="Fecha Hasta">Fecha Hasta</label>
                  <input type="date" class="form-control" placeholder="Fecha Hasta" name="fecha_hasta" [(ngModel)]="timbrado.fecha_hasta" required #fecha_hasta="ngModel">
                  <span class="invalid-feedback d-block" *ngIf="!fecha_hasta.valid && fecha_hasta.touched">Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary" (click)="registrar()" *ngIf="accion == 'INS'" [disabled]="formulario.invalid">
                    <span *ngIf="cargando && accion == 'INS'" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span> Guardar
                  </button>
                  <button type="button" class="btn btn-primary" (click)="actualizar()" *ngIf="accion == 'UPD'" [disabled]="formulario.invalid">
                    <span *ngIf="cargando && accion == 'UPD'" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span> Actualizar
                  </button>
                  <button type="button" class="btn btn-danger" (click)="mostrarFormulario(false, 'LST')">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  <footer-cmp></footer-cmp>
</div>