<app-header [cargando]="cargando"></app-header>

<ion-content>

    <button type="button" class="filter-toggle btn btn-primary" (click)="modalLineas()" style="position: fixed;">
        <ion-icon name="funnel"></ion-icon>
    </button>

    <section class="ftco-section">
        <div class="container-fluid">
            <!-- productos -->
            <div class="row">

                <div class="col-md-3 shop-filters">
                    <div class="col-md-12 filter-items">
                        <h5>ORDENAR POR</h5>
                        <div class="form-group">
                            <select class="form-control" name="order" (change)="ordenar($event.target.value)">
                                <option value="created_at"> Recientes </option>
                                <option value="descripcion"> Nombre </option>
                                <option value="precio_asc"> Precio mas bajo </option>
                                <option value="precio_desc"> Precio mas alto </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 filter-items" *ngIf="listaLineas">
                        <h5>CATEGORIAS</h5>
                        <div class="filter-content">
                            <div class="form-check" *ngFor="let categoria of listaLineas">
                                <input class="form-check-input" type="checkbox" [id]="categoria.identificador"
                                    [value]="categoria.identificador + categoria.descripcion"
                                    (change)="seleccionarCategoria(categoria.identificador, $event)"
                                    [checked]="verificarCheck('categoria', categoria.identificador)">
                                <label class="form-check-label"
                                    [for]="categoria.identificador">{{ categoria.descripcion }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 filter-items" *ngIf="listaMarcas">
                        <h5>MARCAS</h5>
                        <div class="filter-content">
                            <div class="form-check" *ngFor="let marca of listaMarcas">
                                <input class="form-check-input" type="checkbox" [id]="marca.identificador"
                                    [value]="marca.identificador + marca.nombre"
                                    (change)="seleccionarMarca(marca.identificador, $event)"
                                    [checked]="verificarCheck('marca', marca.identificador)">
                                <label class="form-check-label"
                                    [for]="marca.identificador + marca.nombre">{{ marca.nombre }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Buscá tu producto..."
                                    aria-label="Buscá tu producto..." aria-describedby="basic-addon2"
                                    [(ngModel)]="buscarProductoDescripcion" (keyup.enter)="redirect()" (change)="buscarProducto()">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2" (click)="redirect()">
                                        <ion-icon name="md-search"></ion-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="listaSucursales">
                            <div class="form-group">
                                <select class="form-control" name="sucursal"
                                    (change)="seleccionarSucursal($event.target.value, true)">
                                    <option *ngFor="let sucursal of listaSucursales" [value]="sucursal.identificador">
                                        {{ sucursal.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="listaProductos.length">
                        <div class="col-sm-6 col-lg-3"
                            *ngFor="let producto of listaProductos | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                            <cp-producto [producto]="producto"></cp-producto>
                        </div>
                        <br><br>
                        <div class="col-md-12 mt-3 text-center">
                            <app-paginacion (actualizarPagina)="obtenerProductos($event)"></app-paginacion>
                        </div>
                    </div>


                    <div class="row text-center" *ngIf="!listaProductos.length && !cargando">
                        <div class="col-md-12 text-center">
                            <img src="assets/images/sin-datos.png" width="150" height="150">
                            <h4>No se encontraron productos</h4>
                        </div>
                    </div>
                </div>

            </div>

            <br><br>

            <br><br>

        </div>
    </section>




    <app-footer></app-footer>
</ion-content>