<div class="modal fade show" id="modalLineas" tabindex="-1" role="dialog" aria-labelledby="modalLineasLabel"
  aria-hidden="true" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="col-md-3 shop-filters-mobile">
          <div class="col-md-12 filter-items" *ngIf="listaLineas">
            <h5>CATEGORIAS</h5>
            <div class="form-check" *ngFor="let categoria of listaLineas">
              <input class="form-check-input" type="checkbox" [id]="categoria.identificador"
                [value]="categoria.identificador + categoria.descripcion"
                (change)="seleccionarCategoria(categoria.identificador, $event)"
                [checked]="verificarCheck('categoria', categoria.identificador)">
              <label class="form-check-label" [for]="categoria.identificador">{{ categoria.descripcion }}</label>
            </div>
          </div>

          <div class="col-md-12 filter-items" *ngIf="listaMarcas">
            <h5>MARCAS</h5>
            <div class="form-check" *ngFor="let marca of listaMarcas">
              <input class="form-check-input" type="checkbox" [id]="marca.identificador"
                [value]="marca.identificador + marca.nombre" (change)="seleccionarMarca(marca.identificador, $event)"
                [checked]="verificarCheck('marca', marca.identificador)">
              <label class="form-check-label" [for]="marca.identificador + marca.nombre">{{ marca.nombre }}</label>
            </div>
          </div>
        </div>

        <div class="col-md-12 filter-items">
          <ion-button type="button" class="btn btn-primary w-100" expand="block" fill="clear" shape="round"
            (click)="filtrar()">
            Aceptar
          </ion-button>
          <ion-button type="button" class="btn btn-default w-100" expand="block" fill="clear" shape="round"
            (click)="close()">
            Cerrar
          </ion-button>
        </div>

      </div>
    </div>
  </div>
</div>