<h5 class="mb-4">Filtros de Busqueda</h5>

<form>

  <div class="form-group">
    <label>Sucursal</label>
    <select class="form-control" name="sucursal" (change)="seleccionarSucursal($event.target.value)">
      <option *ngFor="let sucursal of listaSucursales" [value]="sucursal.identificador">{{ sucursal.nombre }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Rango de Precios</label>
    <input type="number" class="form-control" placeholder="Precio Minimo" name="precio_minimo"
      [(ngModel)]="filtros.precio_minimo" (focusout)="enviarFiltros()"> <br>
    <input type="number" class="form-control" placeholder="Precio Maximo" name="precio_maximo"
      [(ngModel)]="filtros.precio_maximo" (focusout)="enviarFiltros()">
  </div>

  <div class="form-group">
    <label>Linea de Producto</label>
    <select class="form-control" name="linea" (change)="seleccionarLinea($event.target.value)">
      <option value="0" selected>-- SELECCIONE--</option>
      <option *ngFor="let linea of listaLineas" value="{{ linea.identificador }}">{{ linea.descripcion }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Marca</label>
    <select class="form-control" name="marca" (change)="seleccionarMarca($event.target.value)">
      <option value="0" selected>-- SELECCIONE--</option>
      <option *ngFor="let marca of listaMarcas" value="{{ marca.identificador }}">{{ marca.nombre }}</option>
    </select>
  </div>
</form>