<div class="row">
    <div class="col-md-12">

        <div class="card" *ngIf="!form">
            <div class="card-header">
                <button class="btn btn-primary" (click)="viewForm(true, 'INS')">Agregar</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>
                                Nombre
                            </th>
                            <th>
                                Nro. Documento
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Pais
                            </th>
                            <th>
                                Ciudad
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th class="text-right">
                                Opciones
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let business of businesses">
                                <td>
                                    {{ business.nombre }}
                                </td>
                                <td>
                                    {{ business.numero_documento }}
                                </td>
                                <td>
                                    {{ business.telefono }}
                                </td>
                                <td>
                                    {{ business.pais }}
                                </td>
                                <td>
                                    {{ business.ciudad }}
                                </td>
                                <td>
                                    {{ business.direccion }}
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-sm btn-warning" (click)="getBusiness(business.identificador)"><i class="fas fa-edit"></i></button> &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="form">
            <div class="card-body">
                <div class="table-responsive">
                    <form>
                        <div class="form-group">
                            <label for="image">Imagen</label>
                
                            <div *ngIf="business && business.imagen">
                                <img src="{{url + '/empresa/getImage/' + business.imagen}}" width="100" height="100">
                            </div>
                
                            <angular-file-uploader
                                [config]="fileUploaderConfig"
                                [resetUpload]=resetVar
                                (ApiResponse)="uploadImage($event)">
                            </angular-file-uploader>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="business.nombre">
                        </div>
                        <div class="form-group">
                            <label for="numero_documento">Número Documento</label>
                            <input type="text" class="form-control" placeholder="Número Documento" name="numero_documento" [(ngModel)]="business.numero_documento">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control" placeholder="Telefono" name="telefono" [(ngModel)]="business.telefono">
                        </div>
                        <div class="form-group">
                            <label for="pais">Pais</label>
                            <input type="text" class="form-control" placeholder="Pais" name="pais" [(ngModel)]="business.pais">
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" class="form-control" placeholder="Ciudad" name="ciudad" [(ngModel)]="business.ciudad">
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" class="form-control" placeholder="Direccion" name="direccion" [(ngModel)]="business.direccion">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning" (click)="update()" *ngIf="action == 'UPD'">Actualizar</button>
                            <button class="btn btn-success" (click)="register()" *ngIf="action == 'INS'">Guardar</button>
                            <button class="btn btn-danger" (click)="viewForm(false, '')">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>