.sidebar-wrapper {
  background-color: #222d32 !important;
}

span.sidebar-mini-icon {
  padding-left: 15px;
  padding-right: 5px;
}

.nav .menu-class:hover {
  background-color: #1e282c !important;
}

.nav .menu-class a {
  margin: 0px !important;
  padding-left: 10px;
  border-left: 4px solid transparent;
  display: block;
}

.nav .menu-class.active a.menu-item {
  background-color: #1e282c !important;
  border-left: 4px solid #079a4a !important;
}

.nav .menu-class.active .collapse li.active span {
  color: #fff !important;
}

.nav .menu-class a > i.fa {
  font-size: 14px;
}

.collapse {
  background-color: #2c3b41;
}

.nav .menu-class .collapse .nav li a {
  color: #8aa4af !important;
}

.nav .menu-class .collapse .nav li:hover a {
  color: white !important;
}
