<div class="sidebar-wrapper">
    <div class="logo d-flex justify-content-center">
        <a [routerLink]="['/dashboard']" class="simple-text logo-normal">
            <img src="assets/img/logo-super.png" width="150" height="45">
        </a>
    </div>

    <ul class="nav menu" *ngIf="usuario">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu-class">

            <a *ngIf="!menuItem.children?.length" [routerLink]="[menuItem.url]" class="menu-item">
                <i class="{{menuItem.icono}}"></i>
                <span>{{menuItem.titulo}}</span>
            </a>
            <a *ngIf="menuItem.children?.length" (click)="menuItem.collapsed = !menuItem.collapsed" class="menu-item">
                <i class="{{menuItem.icono}}"></i>
                <span>{{menuItem.titulo}} <b class="caret"></b></span>
            </a>
            <div class="collapse" *ngIf="menuItem.children?.length" [ngClass]="{'show': menuItem.collapsed}">
                <ul class="nav">
                    <li *ngFor="let sub of menuItem.children" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="[sub.url]">
                            <span class="sidebar-mini-icon fa fa-minus mr-1"></span>
                            <span class="sidebar-normal">{{sub.titulo}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="nav" *ngIf="!usuario">
        <li routerLinkActive="active">
            <a [routerLink]="['/login']">
                <i class="fas fa-sign-in-alt"></i>
                <p>Login</p>
            </a>
        </li>
    </ul>
</div>