<div class="wrapper">
  <navbar-cmp></navbar-cmp>

  <div class="sidebar" data-color="white" data-active-color="success">
    <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
    <div class="content">

      <app-breadcrumb pagina="Perfil"></app-breadcrumb>

      <div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="image text-center mt-4">
              <img *ngIf="angForm.value.imagen" src="{{url + '/user/getImage/' + angForm.value.imagen}}" width="100"
                height="100">
              <img *ngIf="!angForm.value.imagen" src="https://via.placeholder.com/150" width="100" height="100">
            </div>
            <div class="card-body text-center">
              <angular-file-uploader [config]="fileUploaderConfig" [resetUpload]="resetVar"
                (ApiResponse)="subirImagen($event)"></angular-file-uploader>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Datos personales</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="angForm" (ngSubmit)="actualizarPerfil()">

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Email</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="Email">
                      <span class="invalid-feedback d-block"
                        *ngIf="angForm.controls['email'].invalid && angForm.controls['email'].touched">Este
                        campo es obligatorio</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Nombre completo</label>
                      <input formControlName="nombre_completo" type="text" class="form-control"
                        placeholder="Nombre completo">
                      <span class="invalid-feedback d-block"
                        *ngIf="angForm.controls['nombre_completo'].invalid && angForm.controls['nombre_completo'].touched">Este
                        campo es obligatorio</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Fecha de nacimiento</label>
                      <input formControlName="fecha_nacimiento" type="date" class="form-control"
                        placeholder="Fecha de nacimiento">
                      <span class="invalid-feedback d-block"
                        *ngIf="angForm.controls['fecha_nacimiento'].invalid && angForm.controls['fecha_nacimiento'].touched">Este
                        campo es obligatorio</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Celular</label>
                      <input formControlName="celular" type="text" class="form-control" placeholder="Celular">
                      <span class="invalid-feedback d-block"
                        *ngIf="angForm.controls['celular'].invalid && angForm.controls['celular'].touched">Este
                        campo es obligatorio</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-round btn-primary btn-round"
                      [disabled]="angForm.invalid">
                      <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                      Aceptar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>