<div class="main-panel">
    <div class="content">

        <app-breadcrumb></app-breadcrumb>

        <div class="row">
            <div class="col-md-12">

                <div class="card" *ngIf="!form">
                    <div class="card-header">
                        <button class="btn btn-round btn-primary pull-right"
                            (click)="mostrarFormulario(true, 'INS', true)">Agregar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Razon Social</th>
                                    <th>Numero Documento</th>
                                    <th>Celular</th>
                                    <th>Telefono</th>
                                    <th class="text-right">Opciones</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" name="razon_social" class="form-control"
                                                placeholder="Razon Social" [(ngModel)]="filtrosTabla.razon_social"
                                                (keyup.enter)="filtrarTabla($event)">
                                        </td>
                                        <td>
                                            <input type="text" name="numero_documento" class="form-control"
                                                placeholder="Numero Documento"
                                                [(ngModel)]="filtrosTabla.numero_documento"
                                                (keyup.enter)="filtrarTabla($event)">
                                        </td>
                                        <td>
                                            <input type="text" name="celular" class="form-control" placeholder="Celular"
                                                [(ngModel)]="filtrosTabla.celular" (keyup.enter)="filtrarTabla($event)">
                                        </td>
                                        <td>
                                            <input type="text" name="telefono" class="form-control"
                                                placeholder="Telefono" [(ngModel)]="filtrosTabla.telefono"
                                                (keyup.enter)="filtrarTabla($event)">
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-round btn-sm btn-danger"
                                                (click)="filtrarTabla(null)"><i class="fas fa-times"></i></button>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr
                                        *ngFor="let row of listaCliente | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                                        <td>{{ row.razon_social }}</td>
                                        <td>{{ row.numero_documento }}</td>
                                        <td>{{ row.celular }}</td>
                                        <td>{{ row.telefono }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-round btn-sm btn-warning"
                                                (click)="obtenerCliente(row.identificador)"><i
                                                    class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!cargando && !form && accion == 'LST'">
                                <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="listaCliente"
                                    [porPagina]="porPagina" [total]="total"></app-paginacion>
                            </div>
                            <div class="row justify-content-center align-items-center col-md-12">
                                <span *ngIf="cargando && !form && accion == 'LST'"
                                    class="spinner-border spinner-border-lg spinner-table" role="status"
                                    aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="form">
                    <div class="card-body">
                        <form #formulario="ngForm">

                            <div *ngIf="seccion == 'general'">
                                <h5>Datos Generales</h5>
                                <div class="form-group">
                                    <label for="nombre">Nombre Completo</label>
                                    <input type="text" class="form-control" placeholder="Nombre Completo" name="nombre"
                                        [(ngModel)]="clienteUsuario.nombre" required #nombre="ngModel">
                                    <span class="invalid-feedback d-block" *ngIf="!nombre.valid && nombre.touched">Este
                                        campo es
                                        obligatorio</span>
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input type="text" class="form-control" placeholder="Telefono" name="telefono"
                                        [(ngModel)]="clienteUsuario.telefono">
                                </div>
                                <div class="form-group">
                                    <label for="celular">Celular</label>
                                    <input type="text" class="form-control" placeholder="Celular" name="celular"
                                        [(ngModel)]="clienteUsuario.celular" required #celular="ngModel">
                                    <span class="invalid-feedback d-block"
                                        *ngIf="!celular.valid && celular.touched">Este campo es obligatorio</span>
                                </div>
                            </div>

                            <div *ngIf="seccion == 'cliente'">
                                <h5>Datos de Facturacion</h5>
                                <div class="form-group">
                                    <label for="numero_documento">RUC / CI</label>
                                    <input type="text" class="form-control" placeholder="RUC / CI"
                                        name="numero_documento" [(ngModel)]="clienteUsuario.numero_documento" required
                                        #numero_documento="ngModel">
                                    <span class="invalid-feedback d-block"
                                        *ngIf="!numero_documento.valid && numero_documento.touched">Este campo es
                                        obligatorio</span>
                                </div>
                            </div>

                            <div *ngIf="seccion == 'usuario'">
                                <h5>Datos de Acceso</h5>
                                <div class="form-group">
                                    <label for="image">Imagen</label>
                                    <div>
                                        <img *ngIf="clienteUsuario.imagen"
                                            src="{{url + '/user/getImage/' + clienteUsuario.imagen}}" width="100"
                                            height="100">
                                        <img *ngIf="!clienteUsuario.imagen" src="https://via.placeholder.com/150"
                                            width="100" height="100">
                                    </div>
                                    <angular-file-uploader [config]="fileUploaderConfig" [resetUpload]="resetVar"
                                        (ApiResponse)="subirImagen($event)">
                                    </angular-file-uploader>
                                </div>
                                <div class="form-group">
                                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" placeholder="Nombre" name="fecha_nacimiento"
                                        [(ngModel)]="clienteUsuario.fecha_nacimiento" required
                                        #fecha_nacimiento="ngModel">
                                    <span class="invalid-feedback d-block"
                                        *ngIf="!fecha_nacimiento.valid && fecha_nacimiento.touched">Este campo es
                                        obligatorio</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" placeholder="Email" name="email"
                                        [(ngModel)]="clienteUsuario.email" required #email="ngModel">
                                    <span class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">Este
                                        campo es obligatorio</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="float-left">
                                        <button type="button" class="btn btn-round btn-default" (click)="atras()"
                                            *ngIf="seccion != 'general'">
                                            Atras
                                        </button>
                                    </div>
                                    <div class="float-right">
                                        <button type="button" class="btn btn-round btn-primary" (click)="registrar()"
                                            *ngIf="accion == 'INS' && seccion == 'usuario'"
                                            [disabled]="formulario.invalid">
                                            <span *ngIf="cargando && accion == 'INS'"
                                                class="spinner-border  spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-round btn-primary" (click)="actualizar()"
                                            *ngIf="accion == 'UPD' && seccion == 'usuario'"
                                            [disabled]="formulario.invalid">
                                            <span *ngIf="cargando && accion == 'UPD'"
                                                class="spinner-border  spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Actualizar
                                        </button>
                                        <button type="button" class="btn btn-round btn-danger"
                                            (click)="mostrarFormulario(false, 'LST')">
                                            Cancelar
                                        </button>
                                        <button type="button" class="btn btn-round btn-warning" (click)="siguiente()"
                                            *ngIf="seccion != 'usuario'">
                                            Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <footer-cmp></footer-cmp>
</div>