@import 'paper-dashboard/variables';
@import 'paper-dashboard/mixins';

.btn-success { @include btn-styles($primary-color, $primary-states-color); }
.btn-primary { @include btn-styles($success-color, $success-states-color); }

.table-responsive {
    overflow-y: scroll !important;
    overflow: auto !important;
}

.content {
    overflow: hidden;
    padding: 0 15px !important;
}

.main-panel .container {
    margin-top: 56px;
    min-height: calc(100vh - 120px);
}

.card {
    box-shadow: none;
}

.ngx-pagination .current {
    background: $success-color !important;
}

.text-primary, .breadcrumb-item a {
    color: $success-color !important;
}

.sidebar .nav li > a {
    padding: 6px !important;
}

.sidebar .sidebar-wrapper {
    padding-bottom: initial !important;
}

.toast-container {
    width: initial !important;
}

.toast-success {
    background-color: $success-color !important;
}