<app-header [cargando]="cargando"></app-header>

<ion-content>

  <ion-grid class="container">
    <ion-row>
      <ion-col size="12" class="border-bottom">
        <ion-title color="primary">Mi lista de deseos</ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="productos && productos.length">
      <ion-col size="12">
        <div class="cart-list">
          <ion-row *ngFor="let producto of productos">
            <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="picture-col">
              <div class="product-picture text-center">
                <a [routerLink]="['/producto', producto.slug]" class="miniCart_prod_title">
                  <img [src]="producto.imagen | productImage | urlSanitizer" alt="Product picture">
                </a>
                <div class="oferta"></div>
              </div>
            </ion-col>
            <ion-col size-lg="10" size-md="10" size-sm="8" size-xs="8" class="desc-col">
              <ion-row>
                <ion-col size-lg="5" size-md="5" size-sm="9" size-xs="10" class="cart-item">
                  <div class="productdata">
                    <a class="miniCart_prod_title" [routerLink]="['/producto', producto.slug]" title="Ver detalles">
                      {{ producto.descripcion }}
                    </a>
                    <div class="codigo">
                      Código: {{ producto.codigo_barras }}
                    </div>
                  </div>
                </ion-col>
                <ion-col size-lg="3" size-md="2" size-sm="9" size-xs="9" class="cart-item price">
                  <div class="ion-text-sm-left ion-text-md-center">
                    <!-- <p style="margin-bottom: 0;">Total:</p> -->
                    <span class="gs">Gs. </span>
                    <span class="productPrice"> {{producto.precio_venta | numberFormat}}</span>
                  </div>
                </ion-col>
                <ion-col size="4" size-md="4" size-xs="12" class="ion-text-xs-left ion-text-md-center actions m-auto">
                  <a (click)="agregarAlCarrito(producto)" class="btn btn-primary mr-2 add-to-cart">
                    <ion-icon name="cart"></ion-icon>
                  </a>
                  <a (click)="confirmEliminarDeFavoritos(producto)" class="btn btn-primary remove-product">
                    <ion-icon name="close"></ion-icon>
                  </a>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <div class="clear"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>

</ion-content>