<app-header [cargando]="cargando"></app-header>

<ion-content>
  <section class="ftco-section tab-principal ">
    <h1 class="mb-4">Mi Cuenta</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#inf-cliente" class="nav-link active" data-toggle="tab">
          <ion-icon name="person"></ion-icon>&nbsp;
          Informacion del Cliente
        </a>
      </li>
      <li class="nav-item">
        <a href="#cambiar-pass" class="nav-link" data-toggle="tab">
          <ion-icon name="key"></ion-icon>&nbsp;
          Cambiar contraseña
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <br>

      <div class="tab-pane fade show active" id="inf-cliente">
        <form class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3>
                <ion-icon name="person"></ion-icon> &nbsp; Datos Personales
              </h3>
              <hr class="border-top mt-0">
              <div class="form-group">
                <label for="Nombre completo">Nombre completo</label>
                <input type="text" class="form-control" name="nombre_completo" [(ngModel)]="usuario.nombre_completo">
              </div>
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="usuario.email">
              </div>
              <div class="form-group">
                <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="usuario.fecha_nacimiento">
              </div>
            </div>
            <div class="col-md-6">
              <h3>
                <ion-icon name="call"></ion-icon> &nbsp; Informacion de Contacto
              </h3>
              <hr class="border-top mt-0">
              <div class="form-group">
                <label for="Telefono">Telefono</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="usuario.telefono">
              </div>
              <div class="form-group">
                <label for="Celular">Celular</label>
                <input type="text" class="form-control" name="celular" [(ngModel)]="usuario.celular">
              </div>
              <hr>
            </div>
          </div>

          <br>
          <div class="form-group">
            <a class="btn btn-primary py-2 px-4" (click)="actualizarDatos()">
              <span *ngIf="cargandoBoton" class="spinner-border spinner-border-sm spinner-table" role="status"
                aria-hidden="true"></span>
              Aceptar
            </a>
          </div>
        </form>
      </div>

      <div class="tab-pane fade" id="cambiar-pass">
        <form class="col-md-5">
          <div class="form-group">
            <label for="Contraseña actual">Contraseña actual</label>
            <input type="password" class="form-control" name="clave_actual" [(ngModel)]="usuario.clave_actual">
          </div>
          <div class="form-group">
            <label for="Contraseña actual">Contraseña nueva</label>
            <input type="password" class="form-control" name="clave_nueva" [(ngModel)]="usuario.clave_nueva">
          </div>
          <div class="form-group">
            <label for="Contraseña actual">Repita contraseña</label>
            <input type="password" class="form-control" name="repita" [(ngModel)]="usuario.repita">
          </div>
          <div class="form-group">
            <a class="btn btn-primary py-2 px-4" (click)="cambiarPassword()">
              <span *ngIf="cargandoBoton" class="spinner-border spinner-border-sm spinner-table" role="status"
                aria-hidden="true"></span>
              Aceptar
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>

  <app-footer [cargando]="cargando"></app-footer>
</ion-content>