<app-header [cargando]="cargando"></app-header>

<ion-content>
  <ion-grid class="container">

    <ion-row>
      <ion-col size="12" class="border-bottom">
        <ion-title color="primary">Mi Cuenta</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Informacion General">
            <form class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h3>
                    <ion-icon name="person"></ion-icon> &nbsp; Datos Personales
                  </h3>
                  <hr class="border-top mt-0">
                  <div class="form-group">
                    <label for="Nombre completo">Nombre completo</label>
                    <input type="text" class="form-control" name="nombre_completo" [(ngModel)]="usuario.nombre_completo">
                  </div>
                  <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="usuario.email">
                  </div>
                  <div class="form-group">
                    <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="usuario.fecha_nacimiento">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>
                    <ion-icon name="call"></ion-icon> &nbsp; Informacion de Contacto
                  </h3>
                  <hr class="border-top mt-0">
                  <div class="form-group">
                    <label for="Telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" [(ngModel)]="usuario.telefono">
                  </div>
                  <div class="form-group">
                    <label for="Celular">Celular</label>
                    <input type="text" class="form-control" name="celular" [(ngModel)]="usuario.celular">
                  </div>
                  <hr>
                </div>

                <div class="col-md-6">
                  <h3>
                    <ion-icon name="call"></ion-icon> &nbsp; Datos de Facturacion
                  </h3>
                  <hr class="border-top mt-0">
                  <div class="form-group">
                    <label for="RUC / CI">RUC / CI</label>
                    <input type="text" class="form-control" name="ruc" [(ngModel)]="usuario.ruc">
                  </div>
                  <hr>
                </div>

              </div>

              <br>
              <div class="form-group">
                <a class="btn btn-primary py-2 px-4" (click)="actualizarDatos()">
                  <span *ngIf="cargandoBoton" class="spinner-border spinner-border-sm spinner-table" role="status" aria-hidden="true"></span>
                  Aceptar
                </a>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Cambiar contraseña">
            <form class="col-md-5">
              <div class="form-group">
                <label for="Contraseña actual">Contraseña actual</label>
                <input type="password" class="form-control" name="clave_actual" [(ngModel)]="usuario.clave_actual">
              </div>
              <div class="form-group">
                <label for="Contraseña actual">Contraseña nueva</label>
                <input type="password" class="form-control" name="clave_nueva" [(ngModel)]="usuario.clave_nueva">
              </div>
              <div class="form-group">
                <label for="Contraseña actual">Repita contraseña</label>
                <input type="password" class="form-control" name="repita" [(ngModel)]="usuario.repita">
              </div>
              <div class="form-group">
                <a class="btn btn-primary py-2 px-4" (click)="cambiarPassword()">
                  <span *ngIf="cargandoBoton" class="spinner-border spinner-border-sm spinner-table" role="status" aria-hidden="true"></span>
                  Aceptar
                </a>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Mis Tarjetas" class="cards">
            <div class="row">
              <div class="col-md-4" *ngFor="let tarjeta of tarjetas">
                <ion-card class="credit-card">
                  <ion-item color="primary">
                    <ion-label>{{ (tarjeta.card_type == 'credit') ? 'Tarjeta de Crédito' : 'Tarjeta de Débito' }}</ion-label>
                    
                    <ion-button slot="end" fill="clear" *ngIf="!escritorio" (click)="opcionesTarjeta(tarjeta)">
                      <ion-icon name="more" slot="icon-only" color="light"></ion-icon>
                    </ion-button>
                    
                    <ion-button slot="end" fill="clear" *ngIf="escritorio" [matMenuTriggerFor]="opciones">
                      <ion-icon name="more" slot="icon-only" color="light"></ion-icon>
                    </ion-button>
                    <mat-menu #opciones="matMenu" xPosition="before">                    
                      <button mat-menu-item (click)="eliminarTarjeta(tarjeta)">
                        <mat-icon>cancel</mat-icon>
                        <span>Eliminar tarjeta</span>
                      </button>
                    </mat-menu>

                  </ion-item>
                  <ion-card-content>
                    <div class="card-number">
                      <label>Nº tarjeta</label>
                      <p>{{ tarjeta.card_masked_number.split('').join(' ') }}</p>
                    </div>

                    <div class="expiration-date">
                      <label>Fecha expiración</label>
                      <p>{{ tarjeta.expiration_date }}</p>
                    </div>

                    <ion-img *ngIf="tarjeta.card_brand.toLowerCase().indexOf('mastercard') != -1" class="mastercard" src="/assets/icon/mastercard.svg"></ion-img>
                    <ion-img *ngIf="tarjeta.card_brand.toLowerCase().indexOf('visa') != -1" class="visa" src="/assets/icon/visa.svg"></ion-img>
                    <ion-img *ngIf="tarjeta.card_brand.toLowerCase().indexOf('bancard') != -1" class="infonet" src="/assets/icon/infonet.svg"></ion-img>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-footer></app-footer>
</ion-content>