<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" (click)="redirectTo('/')"> <img src="assets/images/logo-super.png" width="150" height="45"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a (click)="redirectTo('/')" class="nav-link">Inicio</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tienda</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" (click)="redirectTo('/shop')">Tienda</a>
            <a class="dropdown-item" (click)="redirectTo('/wish-list')">Lista de deseos</a>
            <a class="dropdown-item" (click)="redirectTo('/single-product')">Producto Simple</a>
            <a class="dropdown-item" (click)="redirectTo('/cart')">Carrito</a>
            <a class="dropdown-item" (click)="redirectTo('/checkout')">Checkout</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="redirectTo('/about')">Acerca de</a></li>
        <li class="nav-item"><a class="nav-link" (click)="redirectTo('/contact')">Contacto</a></li>
        <li class="nav-item cta cta-colored"><a (click)="redirectTo('/cart')" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
        <li class="nav-item" *ngIf="!usuario"><a class="nav-link" (click)="redirectTo('/login')">Login</a></li>
        <li class="nav-item" *ngIf="!usuario"><a class="nav-link" (click)="redirectTo('/signup')">Registrate</a></li>
        <li class="nav-item" *ngIf="usuario"><a class="nav-link" (click)="logout()">Cerrar sesion</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->