.product-image {
    padding: 20px;
}

.product-image img {
    height: 350px;
    width: 350px;
    display: flex !important;
    margin: 0 auto !important;
    object-fit: contain;
}

textarea {
    padding: 9px;
    height: auto !important;
}

.product-image {
    position: relative;
    display: inline-block;
    text-align: center;
}

.agotado {
    position: absolute;
    top: 0%;
    left: 0%;
}
