.product-image {
    padding: 20px;
}

.product-image img {
    height: 350px;
    width: 350px;
    display: flex !important;
    margin: 0 auto !important;
    object-fit: contain;
}

textarea {
    padding: 9px;
    height: auto !important;
}

.product-image {
    position: relative;
    display: inline-block;
    text-align: center;
}

.agotado {
    position: absolute;
    top: 0%;
    left: 0%;
}

hr {
    background-color: #cccccc;
}

.barcode {
    color: #a2a1a1;
}

.delivery-info {

    .icon ion-icon {
        color: white;
        font-size: 32px;
        border-radius: 50%;
        background: var(--ion-color-primary);
        padding: 0.2em;
    }

    h4 {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #343333;
        font-size: 16px;
        vertical-align: middle;
    }

    p {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #343333;
        font-size: 14px;
        padding-bottom: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
}
