<app-header [cargando]="cargando"></app-header>

<ion-content>
  <nav aria-label="breadcrumb" *ngIf="producto">
    <ol class="breadcrumb">
      <div class="container d-flex flex-wrap">
        <li class="breadcrumb-item"><a [routerLink]="['/']">INICIO</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/producto/linea',  producto.linea_producto.slug]">{{ producto.linea_producto.descripcion }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ producto.descripcion }} </li>
      </div>
    </ol>
  </nav>

  <section class="ftco-section" *ngIf="producto">
    <ion-grid class="container">
      <ion-row class="row">

        <ion-col size-xs="12" size-md="6" size="6">
          <div class="panel panel-default product-image border">
            <img *ngIf="producto" class="img-fluid" [src]="producto.imagen | productImage | urlSanitizer">
          </div>
        </ion-col>

        <ion-col size-xs="12" size-md="6" size="6">
          <div class="panel panel-default product-details border">
            <h5 class="h5">{{ producto.descripcion }}</h5>
            <p class="mb-0">Código de barras: {{ producto.codigo_barras }}</p>
            <span class="price"> {{ producto.precio_venta | numberFormat}} <span class="gs">Gs</span> </span>
            <hr>

            <ion-row class="row mt-4">
              <ion-col class="form-group input-group col-md-6 d-flex mb-3">
                
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad('DI')">
                    <ion-icon name="remove"></ion-icon>
                  </span>
                </div>
                
                <input type="text" name="cantidad" class="form-control" min="1" max="100" [(ngModel)]="cantidad" disabled>
                
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad('AU')">
                    <ion-icon name="add"></ion-icon>
                  </span>
                </div>

              </ion-col>
            </ion-row>

            <ion-col>
              <a [routerLink]="null" class="btn btn-primary py-2 px-3 d-block" (click)="agregarAlCarrito()">Añadir al Carrito</a>
            </ion-col>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div id="fb-root"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="ftco-section" *ngIf="!producto && !cargando">
    <h1>No se encontro el Producto</h1>
  </section>

  <section class="ftco-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <mat-tab-group>
            <!-- INICIO PRODUCTOS RELACIONADOS -->
            <mat-tab label="Productos Relacionados">
              <div class="productos-relacionados mt-5">
                <div class="col-md-6 col-lg-3" *ngFor="let relacionado of relacionados">
                  <cp-producto [producto]="relacionado"></cp-producto>
                </div>

                <h4 *ngIf="!relacionados.length">No se encontraron productos relacionados</h4>
              </div>
            </mat-tab>
            <!-- FIN PRODUCTOS RELACIONADOS -->
          </mat-tab-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="ftco-section" [ngClass]="{'d-none': !producto}">
    <div id="disqus_thread"></div>
  </section>

  <app-footer></app-footer>

</ion-content>