<section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2>LA EMPRESA</h2>
          <ul class="list-unstyled">
            <li><a class="py-2 d-block" (click)="redireccionar('/acerca-de')">Acerda de</a></li>
            <li><a class="py-2 d-block" (click)="redireccionar('/contacto')">Contactenos</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2>CONTACTENOS</h2>
          <div class="block-23 mb-3">
            <ul class="list-unstyled">
              <li class="d-flex py-2">
                <ion-icon name="md-navigate"></ion-icon> &nbsp;
                <span class="text">Rodriguez de Francia entre <br> Mcal. López y Gral. Díaz</span>
              </li>
              <li class="d-flex py-2">
                <ion-icon name="md-call"></ion-icon> &nbsp;
                <span class="text">(0513) 432-664</span>
              </li>
              <li class="d-flex py-2">
                <ion-icon name="md-phone-portrait"></ion-icon> &nbsp;
                <span class="text">(0991) 336-680</span>
              </li>
              <li class="d-flex py-2">
                <ion-icon name="md-mail"></ion-icon> &nbsp;
                <span class="text">superypacarai@gmail.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2>ACCESOS RÁPIDOS</h2>
          <ul class="list-unstyled">
            <li><a class="py-2 d-block" (click)="redireccionar('/inicio')">Inicio</a></li>
            <li><a class="py-2 d-block">Preguntas frecuentes</a></li>
            <li><a class="py-2 d-block">Condiciones de uso</a></li>
            <li><a class="py-2 d-block">Medios de pago</a></li>
            <li><a class="py-2 d-block">Área de cobertura</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="ftco-footer ftco-section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; <b>Trade Group S.A.</b>
        </p>
      </div>
    </div>
  </div>
</footer>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="assets/js/google-map.js"></script>