<app-header [cargando]="cargando"></app-header>

<ion-content>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 cart-wrap">
          <div class="cart-total mb-3">
            <h3>Cupon de descuento</h3>
            <div class="form-group">
              <p>Ingrese su código de cupón si tiene uno</p>
              <input type="text" class="form-control text-left px-3" placeholder="Código promocional"
                [(ngModel)]="cuponDescuento.codigo" (focusout)="obtenerCupones()">
            </div>
            <div class="form-group" *ngIf="this.cuponDescuento.length > 0">
              <p class="d-flex">
                <span>{{ cuponDescuento.descripcion }}</span>
                <span style="text-align: right;">{{ cuponDescuento.porcentaje | numberFormat }} %</span>
              </p>
            </div>
            <div class="form-group" *ngIf="this.cuponDescuento.length == 0 && submitCuponDescuento">
              <p class="text-danger">
                No existe el cupon de descuento
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 cart-wrap">
          <div class="cart-total mb-3">
            <h3>Datos de Envío</h3>
            <p>Ingrese su destino para el envio</p>
            <form action="#" class="info">
              <div class="form-group">
                <select name="pais" class="form-control text-left px-3" placeholder="Pais" [(ngModel)]="datosEnvio.pais"
                  (change)="datosEnvioSelect($event.target.value, 'pais')">
                  <option value="0">--Seleccione--</option>
                  <option *ngFor="let pais of listaPaises" value="{{ pais.identificador }}"> {{ pais.nombre }}</option>
                </select>
              </div>
              <div class="form-group">
                <div *ngIf="!mostrarCiudades">
                  <input type="text" class="form-control" placeholder="Ciudad" disabled>
                </div>
                <div *ngIf="mostrarCiudades">
                  <select name="ciudad" class="form-control text-left px-3" placeholder="Ciudad"
                    [(ngModel)]="datosEnvio.ciudad" (change)="datosEnvioSelect($event.target.value, 'ciudad')">
                    <option value="0">--Seleccione--</option>
                    <option *ngFor="let ciudad of listaCiudades" value="{{ ciudad.identificador }}"> {{ ciudad.nombre }}
                    </option>
                  </select>
                </div>

              </div>
              <div class="form-group">
                <div *ngIf="!mostrarBarrios">
                  <input type="text" class="form-control" placeholder="Barrio" disabled>
                </div>
                <div *ngIf="mostrarBarrios">
                  <select name="barrio" class="form-control text-left px-3" placeholder="Barrio"
                    [(ngModel)]="datosEnvio.barrio" (change)="datosEnvioSelect($event.target.value, 'barrio')">
                    <option value="0">--Seleccione--</option>
                    <option *ngFor="let barrio of listaBarrios" value="{{ barrio.identificador }}"> {{ barrio.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="direccion" class="form-control text-left px-3" placeholder="Direccion"
                  [(ngModel)]="datosEnvio.direccion">
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend btn-ubicacion" data-toggle="modal" data-target="#modalUbicacion"
                    (click)="abrirModal()">
                    <span class=" input-group-text"> <span class="icon-map-marker"></span> </span>
                  </div>
                  <input type="text" name="ubicacion" class="form-control" placeholder="Ubicación"
                    aria-label="Ubicación" aria-describedby="basic-addon1" [(ngModel)]="datosEnvio.ubicacion">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-4 cart-wrap">
          <div class="cart-total mb-3">
            <h3>Totales de carrito</h3>
            <p class="d-flex">
              <span>Sub Total</span>
              <span style="text-align: right;">{{ totales.subtotal | numberFormat }} Gs.</span>
            </p>
            <p class="d-flex">
              <span>Delivery</span>
              <span style="text-align: right;">{{ totales.delivery | numberFormat }} Gs.</span>
            </p>
            <p class="d-flex">
              <span>Descuento</span>
              <span style="text-align: right;">{{ totales.descuento | numberFormat }} Gs.</span>
            </p>
            <hr style="border-top: 1px solid rgba(0,0,0,.05)">
            <p class="d-flex total-price">
              <span><b>Total</b></span>
              <span style="text-align: right;"><b>{{ totales.total | numberFormat }} Gs.</b></span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <app-footer [cargando]="cargando"></app-footer>

</ion-content>