<div class="product">
  <a [routerLink]="['/producto', producto.slug]" class="img-prod">
    <img *ngIf="producto" [src]="producto.imagen | productImage | urlSanitizer" height="210" class="product-image">
    <div class="agotado" *ngIf="producto.stock == null || producto.stock.stock == 0">
      <img src="assets/images/agotado.png">
    </div>
    <!-- <span class="status">30%</span> -->
    <div class="overlay"></div>
  </a>
  <div class="text py-3 text-center details">
    <div class="bottom-area closed" *ngIf="producto.stock != null && producto.stock.stock > 0">
      <div class="m-auto d-flex">
        <a [routerLink]="['/producto', producto.slug]"
          class="d-flex justify-content-center align-items-center text-center">
          <ion-icon name="menu"></ion-icon>
        </a>
        <a (click)="agregarAlCarrito(producto)"
          class="d-flex justify-content-center align-items-center text-center ml-1">
          <ion-icon name="cart"></ion-icon>
        </a>
        <a (click)="agregarAFavoritos(producto)"
          class="d-flex justify-content-center align-items-center text-center ml-1 heart">
          <ion-icon name="heart"></ion-icon>
        </a>
      </div>
    </div>
    <h3><a [routerLink]="['/producto', producto.slug]">{{ producto.descripcion | truncateText:22 }}</a></h3>
    <div class="d-flex">
      <div class="pricing">
        <p class="price"><span class="price-sale">{{ producto.precio_venta | numberFormat}} Gs.</span>
        </p>
      </div>
    </div>
  </div>
</div>