<div class="row">
    <div class="col-md-12">
      
      <div class="card" *ngIf="!form">
        <div class="card-header">
          <button class="btn btn-primary" (click)="viewForm(true, 'INS')">Agregar</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Descripcion
                </th>
                <th class="text-right">
                  Valor
                </th>
                <th class="text-right">
                  Opciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let impuesto of tiposImpuesto">
                  <td>
                    {{ impuesto.descripcion }}
                  </td>
                  <td class="text-right">
                    {{ impuesto.valor }}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-warning" (click)="getTipoImpuesto(impuesto.identificador)"><i class="fas fa-edit"></i></button> &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="form">
        <div class="card-body">
          <div class="table-responsive">
            <form>
                <div class="form-group">
                  <label for="Descripcion">Descripcion</label>
                  <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" [(ngModel)]="tipoImpuesto.descripcion">
                </div>
                <div class="form-group">
                  <label for="Valor">Valor</label>
                  <input type="text" class="form-control" placeholder="Valor" name="valor" [(ngModel)]="tipoImpuesto.valor">
                </div>
                <div class="form-group">
                  <button class="btn btn-warning" (click)="update()" *ngIf="action == 'UPD'">Actualizar</button>
                  <button class="btn btn-success" (click)="register()" *ngIf="action == 'INS'">Guardar</button>
                  <button class="btn btn-danger" (click)="viewForm(false, '')">Cancelar</button>
                </div>
              </form>
          </div>
        </div>
      </div>

    </div>
</div>
  