<div class="row">
    <div class="col-md-12">
      
      <div class="card" *ngIf="!form">
        <div class="card-header">
          <button class="btn btn-primary" (click)="viewForm(true, 'INS')">Agregar</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Pais
                </th>
                <th>
                  Nombre
                </th>
                <th class="text-right">
                  Opciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of listaCiudades">
                  <td>
                    {{ row.pais.nombre }}
                  </td>
                  <td>
                    {{ row.nombre }}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-warning" (click)="getCiudad(row.identificador)"><i class="fas fa-edit"></i></button> &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="form">
        <div class="card-body">
          <div class="table-responsive">
            <form>
                
                <div class="form-group">
                    <label for="">Pais</label>
                    <select name="id_pais" id="id_pais" class="form-control" [(ngModel)]="ciudad.id_pais">
                        <option value="" disabled selected>Seleccione pais</option>
                        <option *ngFor="let pais of listaPaises" value="{{pais.identificador}}">{{pais.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="ciudad.nombre">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" (click)="register()" *ngIf="action == 'INS'">
                        <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Guardar
                    </button>
                    <button class="btn btn-warning" (click)="update()" *ngIf="action == 'UPD'">
                        <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Actualizar
                    </button>
                    <button class="btn btn-danger" (click)="viewForm(false, '')">Cancelar</button>

                    
                    <div class="alert alert-success alert-dismissible col-md-4" *ngIf="mensaje != ''">
                        <p *ngFor="let error of errors" class="mt-2 mb-0"> {{ mensaje }} </p>
                    </div>
                </div>

                
                <div class="card-footer">
                    <div class="alert alert-danger alert-dismissible col-md-6 mt-4" *ngIf="errors.length > 0">
                        <p *ngFor="let error of errors" class="mt-2 mb-0"> {{ error }} </p>
                    </div>
                </div>

              </form>
          </div>
        </div>
      </div>

    </div>
</div>
  