<div class="main-panel">
<div class="content">

<app-breadcrumb></app-breadcrumb>

<div class="row">
<div class="col-md-12">

    <div class="card" *ngIf="!form">
        <div class="card-header">
            <button class="btn btn-round btn-primary pull-right"
                (click)="mostrarFormulario(true, 'INS', true)"> Agregar
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            Empresa
                        </th>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Ciudad
                        </th>
                        <th>
                            Ecommerce
                        </th>
                        <th>
                            Central
                        </th>
                        <th class="text-right">
                            Opciones
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="id_empresa" class="form-control"
                                    [(ngModel)]="filtrosTabla.id_empresa"
                                    (change)="filtrarTabla($event)">
                                    <option value="null">-- SELECCIONAR --</option>
                                    <option *ngFor="let empresa of listaEmpresas"
                                        value="{{empresa.identificador}}">
                                        {{empresa.nombre}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="codigo" class="form-control"
                                    placeholder="Codigo" [(ngModel)]="filtrosTabla.codigo"
                                    (keyup.enter)="filtrarTabla($event)">
                            </td>
                            <td>
                                <input type="text" name="nombre" class="form-control"
                                    placeholder="Nombre" [(ngModel)]="filtrosTabla.nombre"
                                    (keyup.enter)="filtrarTabla($event)">
                            </td>
                            <td>
                                <input type="text" name="telefono" class="form-control"
                                    placeholder="Telefono" [(ngModel)]="filtrosTabla.telefono"
                                    (keyup.enter)="filtrarTabla($event)">
                            </td>
                            <td>
                                <select name="id_ciudad" class="form-control"
                                    [(ngModel)]="filtrosTabla.id_ciudad"
                                    (change)="filtrarTabla($event)">
                                    <option value="null">-- SELECCIONAR --</option>
                                    <option *ngFor="let ciudad of listaCiudades"
                                        value="{{ciudad.identificador}}">
                                        {{ciudad.nombre}}</option>
                                </select>
                            </td>
                            <td>
                                <select name="ecommerce" class="form-control"
                                    [(ngModel)]="filtrosTabla.ecommerce"
                                    (change)="filtrarTabla($event)">
                                    <option value="null">-- SELECCIONAR --</option>
                                    <option value="S">SI</option>
                                    <option value="N">NO</option>
                                </select>
                            </td>
                            <td>
                                <select name="central" class="form-control"
                                    [(ngModel)]="filtrosTabla.central" (change)="filtrarTabla($event)">
                                    <option value="null">-- SELECCIONAR --</option>
                                    <option value="S">SI</option>
                                    <option value="N">NO</option>
                                </select>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-round btn-sm btn-danger"
                                    (click)="filtrarTabla(null)"><i class="fas fa-times"></i></button>
                                &nbsp;
                            </td>
                        </tr>
                        <tr
                            *ngFor="let row of listaSucursales | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                            <td>
                                {{ row.empresa.nombre }}
                            </td>
                            <td>
                                {{ row.codigo }}
                            </td>
                            <td>
                                {{ row.nombre }}
                            </td>
                            <td>
                                {{ row.telefono }}
                            </td>
                            <td>
                                {{ row.ciudad.nombre }}
                            </td>
                            <td>
                                <div *ngIf="row.ecommerce == 'S'">SI</div>
                                <div *ngIf="row.ecommerce == 'N'">NO</div>
                            </td>
                            <td>
                                <div *ngIf="row.central == 'S'">SI</div>
                                <div *ngIf="row.central == 'N'">NO</div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-round btn-sm btn-warning"
                                    (click)="obtenerSucursal(row.identificador)"><i
                                        class="fas fa-edit"></i></button> &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!cargando && !form && accion == 'LST'">
                    <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="pais"
                        [porPagina]="porPagina" [total]="total"></app-paginacion>
                </div>
                <div class="row justify-content-center align-items-center col-md-12">
                    <span *ngIf="cargando && !form && accion == 'LST'"
                        class="spinner-border spinner-border-lg spinner-table" role="status"
                        aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="form">
        <div class="card-body">
            <div class="table-responsive">
                <form #formulario="ngForm">

                    <div class="form-group">
                        <label for="">Empresa</label>
                        <select name="id_empresa" class="form-control" [(ngModel)]="sucursal.id_empresa"
                            required #id_empresa="ngModel">
                            <option value="null">-- SELECCIONAR --</option>
                            <option *ngFor="let empresa of listaEmpresas"
                                value="{{empresa.identificador}}"
                                [selected]="empresa.identificador == sucursal.id_empresa">
                                {{empresa.nombre}}
                            </option>
                        </select>
                        <span class="invalid-feedback d-block"
                            *ngIf="!id_empresa.valid && id_empresa.touched || sucursal.id_empresa == null">Este
                            campo es obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="Codigo">Codigo</label>
                        <input type="text" class="form-control" name="codigo"
                            [(ngModel)]="sucursal.codigo" required #codigo="ngModel">
                        <span class="invalid-feedback d-block"
                            *ngIf="!codigo.valid && codigo.touched">Este campo es
                            obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre"
                            [(ngModel)]="sucursal.nombre" required #nombre="ngModel">
                        <span class="invalid-feedback d-block"
                            *ngIf="!nombre.valid && nombre.touched">Este campo es
                            obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="Telefono">Telefono</label>
                        <input type="text" class="form-control" name="telefono"
                            [(ngModel)]="sucursal.telefono" required #telefono="ngModel">
                        <span class="invalid-feedback d-block"
                            *ngIf="!telefono.valid && telefono.touched">Este
                            campo es obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="">Pais</label>
                        <select name="id_pais" class="form-control" [(ngModel)]="sucursal.id_pais"
                            required #id_pais="ngModel">
                            <option value="null">-- SELECCIONAR --</option>
                            <option *ngFor="let pais of listaPaises" value="{{pais.identificador}}"
                                [selected]="pais.identificador == sucursal.id_pais">{{pais.nombre}}
                            </option>
                        </select>
                        <span class="invalid-feedback d-block"
                            *ngIf="!id_pais.valid && id_pais.touched || sucursal.id_pais == null">Este
                            campo es obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="">Ciudad</label>
                        <select name="id_ciudad" class="form-control" [(ngModel)]="sucursal.id_ciudad"
                            required #id_ciudad="ngModel">
                            <option value="null">-- SELECCIONAR --</option>
                            <option *ngFor="let ciudad of listaCiudades"
                                value="{{ciudad.identificador}}"
                                [selected]="ciudad.identificador == sucursal.id_ciudad">
                                {{ciudad.nombre}}</option>
                        </select>
                        <span class="invalid-feedback d-block"
                            *ngIf="!id_ciudad.valid && id_ciudad.touched || sucursal.id_ciudad == null">Este
                            campo es obligatorio</span>
                    </div>


                    <div class="form-group">
                        <label for="Direccion">Direccion</label>
                        <input type="text" class="form-control" name="direccion"
                            [(ngModel)]="sucursal.direccion" required #direccion="ngModel">
                        <span class="invalid-feedback d-block"
                            *ngIf="!direccion.valid && direccion.touched">Este
                            campo es obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="Ecommerce">Ecommerce</label>
                        <select name="ecommerce" class="form-control" [(ngModel)]="sucursal.ecommerce"
                            required #ecommerce="ngModel">
                            <option value="null">-- SELECCIONAR --</option>
                            <option value="S" [selected]="sucursal.ecommerce == 'S'">SI</option>
                            <option value="N" [selected]="sucursal.ecommerce == 'N'">NO</option>
                        </select>
                        <span class="invalid-feedback d-block"
                            *ngIf="!ecommerce.valid && ecommerce.touched || sucursal.ecommerce == null">Este
                            campo es obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label for="Central">Central</label>
                        <select name="central" class="form-control" [(ngModel)]="sucursal.central"
                            required #central="ngModel">
                            <option value="null">-- SELECCIONAR --</option>
                            <option value="S" [selected]="sucursal.central == 'S'">SI</option>
                            <option value="N" [selected]="sucursal.central == 'N'">NO</option>
                        </select>
                        <span class="invalid-feedback d-block"
                            *ngIf="!central.valid && central.touched || sucursal.central == null">Este
                            campo es obligatorio</span>
                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-round btn-primary" (click)="registrar()"
                            *ngIf="accion == 'INS'" [disabled]="formulario.invalid">
                            <span *ngIf="cargando && accion == 'INS'"
                                class="spinner-border  spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            Guardar
                        </button>
                        <button type="button" class="btn btn-round btn-primary" (click)="actualizar()"
                            *ngIf="accion == 'UPD'" [disabled]="formulario.invalid">
                            <span *ngIf="cargando && accion == 'UPD'"
                                class="spinner-border  spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            Actualizar
                        </button>
                        <button type="button" class="btn btn-round btn-danger"
                            (click)="mostrarFormulario(false, 'LST')">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>



</div>
<footer-cmp></footer-cmp>
</div>