.sidebar-wrapper::-webkit-scrollbar {
	width: 7px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
	background-color: #5c5c5c;
	border-radius: 5px;
}

.content .card {
	border-radius: 0px !important;
}

.main-panel .content {
	margin-top: 53px !important;
}

.sidebar .nav li a, i, p {
	color: white !important;
}

button:disabled, button[disabled] {
	background-color: #079A4A !important;
}

tr:nth-child(even) {
	background-color: #f2f2f2 !important;
}

.wrapper{
	background-color: #f4f3ef !important;
}