<app-header [cargando]="cargando"></app-header>

<ion-content>
  <nav aria-label="breadcrumb" *ngIf="producto">
    <ol class="breadcrumb">
      <div class="container d-flex">
        <li class="breadcrumb-item"><a [routerLink]="['/']">INICIO</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/producto/linea',  producto.linea_producto.slug]">{{ producto.linea_producto.descripcion }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ producto.descripcion }} </li>
      </div>
    </ol>
  </nav>

  <section class="ftco-section" *ngIf="producto">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default product-image border">
            <img *ngIf="producto" class="img-fluid" [src]="producto.imagen | productImage | urlSanitizer">
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default product-details border">
            <h5 class="h5">{{ producto.descripcion }}</h5>
            <span class="price"> {{ producto.precio_venta | numberFormat}} <span class="gs">Gs</span> </span>
            <hr>

            <div class="row mt-4">
              <div class="w-100"></div>
              <div class="form-group input-group col-md-6 d-flex mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad('DI')">
                    <ion-icon name="remove"></ion-icon>
                  </span>
                </div>
                <input type="text" name="cantidad" class="form-control" min="1" max="100" [(ngModel)]="cantidad" disabled>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad('AU')">
                    <ion-icon name="add"></ion-icon>
                  </span>
                </div>
              </div>
              <div class="w-100"></div>
            </div>
            <p><a [routerLink]="null" class="btn btn-primary py-2 px-3" (click)="agregarAlCarrito()">Añadir al
                Carrito</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section" *ngIf="!producto && !cargando">
    <h1>No se encontro el Producto</h1>
  </section>

  <section class="ftco-section">
    <hr>
    <div class="container">
      <div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-12 heading-section text-center">
          <h5 class="mb-4 h5">Productos Relacionados</h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="assets/images/product-1.jpg"
                alt="Colorlib Template">
              <span class="status">30%</span>
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="#">Bell Pepper</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                </div>
              </div>
              <div class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                  </a>
                  <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                  <a href="#" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="assets/images/product-2.jpg"
                alt="Colorlib Template">
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="#">Strawberry</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>$120.00</span></p>
                </div>
              </div>
              <div class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                  </a>
                  <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                  <a href="#" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="assets/images/product-3.jpg"
                alt="Colorlib Template">
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="#">Green Beans</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>$120.00</span></p>
                </div>
              </div>
              <div class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                  </a>
                  <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                  <a href="#" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="assets/images/product-4.jpg"
                alt="Colorlib Template">
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="#">Purple Cabbage</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>$120.00</span></p>
                </div>
              </div>
              <div class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                  </a>
                  <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                  <a href="#" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</ion-content>