.product-image {
    padding: 20px;
}

.product-image img {
    height: 350px;
    width: 350px;
    display: flex !important;
    margin: 0 auto !important;
}

.input-group-prepend {
    background-color: #f3f3f3 !important;
}

.input-group-prepend:hover .input-group-text {
    background-color: #ada9a9 !important;
    color: white !important;
}
