<div class="main-panel">
    <div class="content">

        <app-breadcrumb></app-breadcrumb>

        <div class="row">
            <div class="col-md-12">

                <div class="card" *ngIf="!form">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Fecha</th>
                                    <th>Tipo Pedido</th>
                                    <th>Cliente</th>
                                    <th>RUC/CI</th>
                                    <th>Estado Pago</th>
                                    <th>Estado Pedido</th>
                                    <th class="text-right">Opciones</th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let row of listaPedidos | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                                        <td>{{ row.fecha | date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <div *ngIf="row.tipo_envio == 'DE'"> DELIVERY </div>
                                            <div *ngIf="row.tipo_envio == 'RT'"> RETIRO EN TIENDA</div>
                                        </td>
                                        <td>{{ row.usuario.cliente.razon_social }}</td>
                                        <td>{{ row.usuario.cliente.numero_documento }}</td>
                                        <td class="text-center">
                                            <span *ngIf="row.pagos.estado == 'PENDIENTE'"
                                                class="badge badge-secondary">PENDIENTE</span>
                                            <span *ngIf="row.pagos.estado == 'CANCELADO'"
                                                class="badge badge-danger">CANCELADO</span>
                                            <span *ngIf="row.pagos.estado == 'PAGADO'"
                                                class="badge badge-success">PAGADO</span>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="row.estado == 'PENDIENTE'"
                                                class="badge badge-secondary">PENDIENTE</span>
                                            <span *ngIf="row.estado == 'EN PROCESO'" class="badge badge-info">EN
                                                PROCESO</span>
                                            <span *ngIf="row.estado == 'LISTO'" class="badge badge-info">LISTO</span>
                                            <span *ngIf="row.estado == 'EN CAMINO'" class="badge badge-primary">EN
                                                CAMINO</span>
                                            <span *ngIf="row.estado == 'ENTREGADO'"
                                                class="badge badge-success">ENTREGADO</span>
                                            <span *ngIf="row.estado == 'CANCELADO'"
                                                class="badge badge-danger">CANCELADO</span>
                                                <span *ngIf="row.estado == 'DEVUELTO'"
                                                    class="badge badge-danger">DEVUELTO</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-primary" *ngIf="row.estado == 'PENDIENTE'"
                                                (click)="procesar(row.identificador)">
                                                PROCESAR
                                            </button>
                                            <button class="btn btn-sm btn-primary" *ngIf="row.estado == 'EN PROCESO'"
                                                (click)="listo(row.identificador, row.tipo_envio)">
                                                GEN. COMPROBANTE
                                            </button>
                                            <button class="btn btn-sm btn-primary"
                                                *ngIf="row.estado == 'LISTO' || row.estado == 'EN CAMINO'"
                                                (click)="terminarPedido(row.identificador)">
                                                FINALIZAR
                                            </button>
                                            <br>
                                            <button class="btn btn-sm btn-info mt-1" (click)="ver(row.identificador)">
                                                VER PEDIDO
                                            </button>
                                            <br>
                                            <button class="btn btn-sm btn-danger mt-1"
                                                *ngIf="row.estado == 'ENTREGADO'"
                                                (click)="devolucion(row.identificador)">
                                                DEVOLUCION
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!cargando && !form && accion == 'LST'">
                                <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="pais"
                                    [porPagina]="porPagina" [total]="total"></app-paginacion>
                            </div>
                            <div class="row justify-content-center align-items-center col-md-12">
                                <span *ngIf="cargando && !form && accion == 'LST'"
                                    class="spinner-border spinner-border-lg spinner-table" role="status"
                                    aria-hidden="true"></span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


    </div>
    <footer-cmp></footer-cmp>
</div>