<ion-content>
  <app-header [cargando]="cargando"></app-header>

  <br>

  <div class="wrapper fadeInDown">
    <form class="form-signin" (ngSubmit)="iniciarSession()">
      <img src="assets/images/icon.png" alt="" width="72" height="72">
      <h5 class="h5 mb-3 font-weight-normal" style="margin-top: 0px !important;">Ingrese sus Credenciales</h5>
      <br><br>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="usuario.email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="clave_acceso" placeholder="Contraseña" [(ngModel)]="usuario.clave_acceso">
      </div>

      <button type="submit" class="btn btn-primary py-2 px-4">
        <span *ngIf="cargandoBoton" class="spinner-border spinner-border-sm spinner-table" role="status" aria-hidden="true"></span>
        Acceder
      </button>
    </form>
  </div>
  <br>
  <app-footer></app-footer>

</ion-content>