<div class="main-panel">
    <div class="content">

        <app-breadcrumb></app-breadcrumb>

        <div class="row">
            <div class="col-md-12">

                <div class="card" *ngIf="!form">
                    <div class="card-header">
                        <button class="btn btn-primary pull-right" (click)="mostrarFormulario(true, 'INS', true)"
                            [disabled]="cargando">Agregar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nombre
                                    </th>
                                    <th class="text-right">
                                        Opciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" name="nombre" class="form-control" placeholder="Nombre"
                                                [(ngModel)]="filtrosTabla.nombre" (keyup.enter)="filtrarTabla($event)">
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-sm btn-danger" (click)="filtrarTabla(null)"><i
                                                    class="fas fa-times"></i></button> &nbsp;
                                        </td>
                                    </tr>
                                    <tr
                                        *ngFor="let row of listaMarcas | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
                                        <td>
                                            {{ row.nombre }}
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-sm btn-warning"
                                                (click)="obtenerMarca(row.identificador)"><i
                                                    class="fas fa-edit"></i></button> &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!cargando && !form && accion == 'LST'">
                                <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="marcas"
                                    [porPagina]="porPagina" [total]="total"></app-paginacion>
                            </div>
                            <div class="row justify-content-center align-items-center col-md-12">
                                <span *ngIf="cargando && !form && accion == 'LST'"
                                    class="spinner-border spinner-border-lg spinner-table" role="status"
                                    aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="form">
                    <div class="card-body">
                        <div class="table-responsive">
                            <form #formulario="ngForm">
                                <div class="form-group">
                                    <label for="Nombre">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                                        [(ngModel)]="marca.nombre" required #nombre="ngModel">
                                    <span class="invalid-feedback d-block" *ngIf="!nombre.valid && nombre.touched">Este
                                        campo es
                                        obligatorio</span>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" (click)="registrar()"
                                        *ngIf="accion == 'INS'" [disabled]="formulario.invalid">
                                        <span *ngIf="cargando && accion == 'INS'"
                                            class="spinner-border  spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary" (click)="actualizar()"
                                        *ngIf="accion == 'UPD'" [disabled]="formulario.invalid">
                                        <span *ngIf="cargando && accion == 'UPD'"
                                            class="spinner-border  spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Actualizar
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                        (click)="mostrarFormulario(false, 'LST')">
                                        Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <footer-cmp></footer-cmp>
</div>