<ion-header no-border translucent *ngIf="mostrarMobileMenu">
  <ion-toolbar color="primary">

    <ion-buttons slot="start" color="primary">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>

    <a class="navbar-brand" [routerLink]="['/']"> <img src="assets/images/logo-super.png" width="150" height="45"></a>

    <ion-buttons slot="end" [routerLink]="['/carrito']">
      <mat-icon class="mr-2" [matBadge]="carrito" matBadgeColor="warn" [matBadgeHidden]="!carrito">shopping_cart</mat-icon>   
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<mat-toolbar color="primary" *ngIf="!mostrarMobileMenu">
  <a class="navbar-brand" [routerLink]="['/']"> <img src="assets/images/logo-super.png" width="150" height="45"></a>

  <div class="spacer"></div>
  
  <a mat-button [routerLink]="['/']">Inicio</a>
  <a mat-button (click)="redirectProducto()">Productos</a>
  <a mat-button [routerLink]="['/acerca-de']">Acerca de</a>
  <a mat-button [routerLink]="['/contacto']">Contacto</a>
  <a mat-button class="p-0" [routerLink]="['/favoritos']"><mat-icon>favorite_border</mat-icon></a>
  <a mat-button class="p-0" [routerLink]="['/carrito']">
    <mat-icon class="mr-2" [matBadge]="carrito" matBadgeColor="warn" [matBadgeHidden]="!carrito">shopping_cart</mat-icon>
  </a>
  
  <div class="login-register-header d-flex justify-content-center" *ngIf="!usuario">
    <span mat-button [routerLink]="['/login']"><mat-icon>person</mat-icon></span>
    <div class="options d-flex flex-column justify-content-center">
      <a mat-button [routerLink]="['/login']">Ingresar</a>
      <a mat-button [routerLink]="['/signup']">Registrarse</a>
    </div>
  </div>
  
  <button mat-button [matMenuTriggerFor]="cuenta" *ngIf="usuario">
    <mat-icon>person</mat-icon>
    {{ usuario.nombre_completo }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #cuenta="matMenu">
    <a mat-menu-item class="dropdown-item" [routerLink]="['/mi-cuenta']">
      <mat-icon>portrait</mat-icon>
      <span>Mi Cuenta</span>
    </a>
    <a mat-menu-item class="dropdown-item" [routerLink]="['/favoritos']">
      <mat-icon>favorite_border</mat-icon>
      <span>Mi lista de deseos</span>
    </a>
    <a mat-menu-item class="dropdown-item" [routerLink]="['/carrito']">
      <mat-icon>shopping_cart</mat-icon>
      <span>Mi carrito</span>
    </a>
    <a mat-menu-item [routerLink]="['/pedido-lista']" *ngIf="usuario">
      <mat-icon>shopping_basket</mat-icon>
      <span>Pedidos</span>
    </a>
    <button mat-menu-item class="dropdown-item" (click)="cerrarSession()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesion</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div *ngIf="cargando" id="overlay">
  <div class="text-center">
    <img class="img-loader" src="assets/images/loading.svg" width="130" height="130" style="margin-top: 30vh;">
  </div>
</div>