<app-header [cargando]="cargando"></app-header>

<ion-content>
    <!-- slides -->
    <ion-slides *ngIf="listaSlides" mode="ios" pager="ios" class="home-slider" [options]="slideOptions">
        <ion-slide *ngFor="let slide of listaSlides" class="slider-item" [style]="slide.imagen | slideImage">
        </ion-slide>
    </ion-slides>

    <button type="button" class="filter-toggle btn btn-primary" (click)="modalLineas()" style="position: fixed;">
        <ion-icon name="funnel"></ion-icon>
    </button>

    <section class="ftco-section">
        <ion-grid class="container-fluid">
            <!-- productos -->
            <ion-row class="row">

                <ion-col size="12">
                    <ion-row class="row" *ngIf="listaProductos.length">
                        <h3 class="w-100 mt-0 mb-5 text-primary text-center">Productos destacados del mes</h3>
                        <ion-slides #slides mode="ios" [options]="productSlideOpts" [pager]="true">
                            <ion-slide *ngFor="let producto of listaProductos">
                                <cp-producto [producto]="producto"></cp-producto>
                            </ion-slide>
                        </ion-slides>

                        <div class="swiper-button-prev" (click)="slides.slidePrev()"></div>
                        <div class="swiper-button-next" (click)="slides.slideNext()"></div>
                    </ion-row>


                    <ion-row class="row text-center" *ngIf="!listaProductos.length && !cargando">
                        <ion-col class="col-md-12 text-center">
                            <img src="assets/images/sin-datos.png" width="150" height="150">
                            <h4>No se encontraron productos</h4>
                        </ion-col>
                    </ion-row>
                </ion-col>

            </ion-row>

            <br><br>

            <br><br>

        </ion-grid>
    </section>




    <app-footer></app-footer>
</ion-content>