<app-header [cargando]="cargando"></app-header>

<ion-content>
  <!-- slides -->
  <ion-slides *ngIf="listaSlides" mode="ios" pager="ios" class="home-slider" [options]="slideOptions">
    <ion-slide class="slider-item" style="background-image: url(assets/images/banner-super-home.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 text-center">
            <h1 class="mt-2">Bienvenido</h1>
            <h1 class="mt-2">Supermercado Ypacarai</h1>
            <h4 class="subheading mb-4">Tenemos lo que te gusta</h4>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let slide of listaSlides" class="slider-item" [style]="slide.imagen | slideImage">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-md-12 text-center">
            <h1 class="mb-2">{{ slide.titulo }}</h1>
            <h2 class="subheading mb-4">{{ slide.descripcion }}</h2>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <button type="button" class="filter-toggle btn btn-primary" (click)="modalLineas()">
    <ion-icon name="funnel"></ion-icon>
  </button>

  <section class="ftco-section">
    <div class="container-fluid">
      <!-- productos -->
      <div class="row">

        <div class="col-md-3 product shop-filters text-center">
          <h5 class="mb-4 h5">Lineas de Producto</h5>

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" (click)="seleccionarLineaProducto(0)" [ngClass]="{'active': idLineaProducto == null || idLineaProducto == 0 }">TODOS
              <span class="">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let linea of listaLineas" (click)="seleccionarLineaProducto(linea.identificador)" [ngClass]="{'active': linea.identificador == idLineaProducto }">
              {{ linea.descripcion }}
              <span class="">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-9">

          <div class="row">
            <div class="col-md-9">
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Buscá tu producto..." aria-label="Buscá tu producto..." aria-describedby="basic-addon2" [(ngModel)]="buscarProductoDescripcion" (keyup.enter)="buscarProductoPorDescripcion()">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="buscarProductoPorDescripcion()">
                    <ion-icon name="md-search"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" name="sucursal" (change)="seleccionarSucursal($event.target.value)">
                  <option *ngFor="let sucursal of listaSucursales" [value]="sucursal.identificador">
                    {{ sucursal.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <hr class="border-top">
          </div>

          <div class="row" *ngIf="listaProductos.length">
            <div class="col-sm-6 col-lg-3" *ngFor="let producto of listaProductos">
              <cp-producto [producto]="producto"></cp-producto>
            </div>
          </div>

          <div class="row text-center" *ngIf="!listaProductos.length && !cargando">
            <div class="col-md-12">
              <h1 class="text-primary">No se encontraron productos</h1>
            </div>
          </div>
        </div>

      </div>

      <br><br>

      <br><br>

    </div>
  </section>




  <app-footer></app-footer>
</ion-content>