<app-header [cargando]="cargando"></app-header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="filterModal">Lineas de Producto</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let linea of listaLineas"
        (click)="seleccionarLineaProducto(linea.identificador)" [ngClass]="{'active': linea.id == idLineaProducto }">
        {{ linea.descripcion }}
        <span class="">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </span>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ion-content>
  <!-- slides -->
  <ion-slides *ngIf="listaSlides" mode="ios" pager="ios" class="home-slider" [options]="slideOptions">
    <ion-slide class="slider-item" style="background-image: url(assets/images/banner-super-home.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 text-center">
            <h1 class="mt-2">Bienvenido</h1>
            <h1 class="mt-2">Supermercado Ypacarai</h1>
            <h4 class="subheading mb-4">Tenemos lo que te gusta</h4>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let slide of listaSlides" class="slider-item" [style]="slide.imagen | slideImage">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-md-12 text-center">
            <h1 class="mb-2">{{ slide.titulo }}</h1>
            <h2 class="subheading mb-4">{{ slide.descripcion }}</h2>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="filter-toggle" (click)="open(content)">
    <ion-icon name="funnel"></ion-icon>
  </div>

  <section class="ftco-section">
    <div class="container-fluid">


      <!-- productos -->
      <div class="row">

        <!-- <div class="col-md-12 heading-section text-center">
          <br><br>
          <h3 class="mb-4 h3">Nuestros productos</h3>
          <hr class="border-top ml-5 mr-5">
        </div> -->

        <div class="col-md-3 offset-md-9">
          <div class="form-group">
            <label>Sucursal</label>
            <select class="form-control" name="sucursal" (change)="seleccionarSucursal($event.target.value)">
              <option *ngFor="let sucursal of listaSucursales" [value]="sucursal.identificador">{{ sucursal.nombre }}
              </option>
            </select>
          </div>
        </div>
        <hr class="border-top">

        <div class="col-md-3 product shop-filters">
          <h5 class="mb-4 h5">Lineas de Producto</h5>

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let linea of listaLineas" (click)="seleccionarLineaProducto(linea.identificador)"
              [ngClass]="{'active': linea.identificador == idLineaProducto }">
              {{ linea.descripcion }}
              <span class="">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <div class="row" *ngIf="listaProductos != null">
            <div class="col-md-6 col-lg-3" *ngFor="let producto of listaProductos">
              <div class="product">
                <div class="m-2">
                  <a [routerLink]="['/producto', producto.slug]" class="img-prod">
                    <img *ngIf="producto" [src]="producto.imagen | productImage | urlSanitizer" height="230"
                      style="width: 100%;">
                    <div class="overlay"></div>
                  </a>
                  <hr class="mt-2 mb-0 ml-2 mr-2 border-top">
                  <div class="text py-1 px-1 text-center">
                    <h3><a [routerLink]="['/producto', producto.slug]">{{ producto.descripcion | truncateText:22 }}</a>
                    </h3>
                    <div class="d-flex">
                      <div class="pricing">
                        <p class="price"><span class="price-sale">{{ producto.precio_venta | numberFormat}} Gs.</span>
                        </p>
                      </div>
                    </div>
                    <div class="bottom-area d-flex px-1">
                      <div class="m-auto d-flex">
                        <a [routerLink]="['/producto', producto.slug]"
                          class="d-flex justify-content-center align-items-center text-center">
                          <ion-icon name="menu"></ion-icon>
                        </a>
                        <a (click)="agregarAlCarrito(producto)"
                          class="d-flex justify-content-center align-items-center text-center ml-1">
                          <ion-icon name="cart"></ion-icon>
                        </a>
                        <a (click)="agregarAFavoritos(producto)"
                          class="d-flex justify-content-center align-items-center text-center ml-1">
                          <ion-icon name="heart"></ion-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row text-center" *ngIf="listaProductos == null && !cargando">
            <div class="col-md-12">
              <h1 class="text-primary">No se encontraron productos</h1>
            </div>
          </div>
        </div>

      </div>

      <br><br>

      <br><br>

    </div>
  </section>




  <app-footer [cargando]="cargando"></app-footer>
</ion-content>