.navbar {
    margin: 0px;
    padding: 0px;
    background-color: #079A4A !important;
}


.navbar ul li:hover{
    background-color: #333131;
    color: white;
}

.usuario {
    cursor: pointer;
}

.usuario li a {
    color: grey;
}

 