.navbar {
    margin: 0px;
    padding: 0px;
    background-color: #079a4a !important;
}

.navbar ul li:hover {
    background-color: #056933;
    color: white;
}

.usuario {
    cursor: pointer;
}

.usuario li a {
    color: grey;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #056933;
}
