
.login-logo {
    margin-bottom: 4rem;
}

.card {
    min-width: 45%;
}

.card-body {

    position: relative;

    .icon-container {
        display: flex;
        width: 100%;
        position: absolute;
        border-radius: 50%;
        line-height: 16px;
        top: -35px;
        left: 0;

        &.payment-error {
            line-height: 16px !important;
            
            ion-icon {
                text-align: center;
            }
        }

        ion-icon {
            font-size: 64px;
        }

    }
}
