
.login-logo {
    margin-bottom: 4rem;
}

.card {
    min-width: 45%;
}

.card-body {

    position: relative;

    .icon-container {
        position: absolute;
        padding: 1em;
        border-radius: 50%;
        line-height: 16px;
        top: -50px;
        left: 43%;

        &.payment-error {
            line-height: 16px !important;
            
            ion-icon {
                text-align: center;
            }
        }

        ion-icon {
            font-size: 64px;
        }

    }
}
