<app-header [cargando]="cargando"></app-header>

<ion-content>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <div class="container d-flex">
        <li class="breadcrumb-item"><a [routerLink]="['/']">INICIO</a></li>
        <li class="breadcrumb-item active" aria-current="page">CONDICIONES DE USO</li>
      </div>
    </ol>
  </nav>

  <section class="ftco-section">
    <section class="container ftco-no-pb ftco-no-pt bg-light" style="border-radius: 15px;">
      <div class="row">
        <div class="text-justify" style="padding: 40px;">
          <strong>USO DE LA TIENDA ONLINE</strong>
          <p>
            Mediante el uso de la TIENDA ONLINE el Usuario acepta las reglas, y declara bajo juramento tener 18 años de
            edad
            cumplidos. Si usted es menor de 18 años de edad, deberá abstenerse de usar el Website. Los padres, tutores o
            responsables de los menores de 18 años que utilicen el Website son plena y exclusivamente responsables por
            el uso del Website por parte de éstos, incluyendo, y sin limitar, cualquier cargo o costo en que se pueda
            incurrir como consecuencia de tal uso. <br>
            Podrán utilizar este servicio, todas aquellas personas que vivan en
            la ciudad de Ypacarai. <br>
            Si usted no está de acuerdo en todos y cada uno de los términos de las reglas, absténgase de usar el
            Website.
          </p>

          <strong>POLITICA DE PRIVACIDAD</strong>
          <p>
            El usuario, toma conocimiento que los datos facilitados a TRADE GROUP S.A., para el uso de la TIENDA ONLINE,
            son
            necesarios para establecer la relación contractual conforme se dispone en estos Términos y Condiciones, y
            serán tratados únicamente para las operaciones relativas al cumplimiento de las Reglas, encuestas,
            suscripciones, ofertas de servicios, y cualquier otra acción comercial. <br>
            TRADE GROUP S.A., única responsable del mismo, y en ningún caso los datos facilitados serán entregados a
            terceros
            que no sean parte directa, siendo dicha información totalmente confidencial, entre usuario
            y TRADE GROUP S.A., salvo que la información le sea requerida a TRADE GROUP S.A. por una resolución judicial
            o
            por Autoridad Gubernamental competente. <br>
            Toda la información que Usted proporciona deberá ser verdadera, exacta y completa. El usuario es único y
            exclusivo responsable de la información que brinda mediante el uso del Website. En tal sentido, el usuario
            será único y exclusivo responsable respecto de las consecuencias que genere cualquier inexactitud o falsedad
            de la información brindada. <br>
            El usuario toma conocimiento de la facultad de ejercer el derecho de acceso a sus datos personales en forma
            gratuita a intervalos no inferiores a seis meses, salvo que acredite un interés legítimo al efecto, y
            asimismo que tiene derecho, de ser procedente, a rectificar y/o suprimir dichos datos.
          </p>

          <strong>COMPRA DE PRODUCTOS</strong>
          <p>
            La compra de productos o servicios ofrecidos en el Website se encuentra sujeta a disponibilidad de
            inventario. Una vez realizada la compra, los mismos son entregados según la franja que el cliente elige y su
            disponibilidad. Ante cualquier duda o consulta puede llamar al (0513) 432-664 Atención al Cliente. <br>
            Las fotos de los productos son meramente ilustrativas. Los productos o servicios, características técnicas,
            precios, disponibilidad, y ofertas contenidas en este sitio pueden variar sin previo aviso y no
            necesariamente coincidirán con los productos, servicios y precios ofrecidos en los locales.
          </p>

          <strong>PRECIOS </strong>
          <p>
            Todos los precios incluyen IVA. <br>
            Los precios de los artículos ofrecidos en Supermercado Virtual se facturaran con el valor ofrecido al
            momento
            de cerrar la compra. <br>
            Los productos pesables pueden sufrir una pequeña variación de peso, y por lo tanto una variación en el
            precio
            final.
          </p>


          <strong>CONDICIONES DE PAGO</strong>
          <p>
            Las ofertas y promociones publicadas son válidas para compras por internet abonadas dentro del período de
            vigencia de las mismas.
            <br>
            Usted puede pagar su compra con dinero efectivo, y tarjeta de crédito y débito. El pago en efectivo se
            realizará únicamente en moneda nacional.
            <br>
            Las compras serán abonadas en el momento de su entrega. En el caso que la entrega no se realice el día
            acordado se respetará el precio y la promoción elegida por el cliente al momento de hacer su pedido.
            <br>
            El pago con tarjeta de Débito (emisión y firma del cupón) se concreta en el momento de la cobranza del
            pedido, en el domicilio del cliente, quien deberá presentar además de la tarjeta, el correspondiente
            documento de identidad. El pago con tarjeta de crédito tiene dos modalidades:
            <br>
            - Online: proporciona un ambiente protegido para que sus clientes puedan operar de manera segura, utilizando
            las prácticas de seguridad empleadas en el mercado electrónico internacional. El cliente puede catastrar su
            tarjeta de crédito y débito asi como también elegir pagar online sin registrar su tarjeta.
            <br>
            - Tarjeta presente: la emisión y firma del cupón se realizan en el momento de la entrega del pedido, en el
            domicilio del cliente, quien deberá presentar además de la tarjeta, la correspondiente cédula de identidad.
          </p>


          <strong>TARIFA DE ENTREGA A DOMICILIO</strong>
          <p> El costo del envío es de Gs: 7.000</p>


          <strong>DEVOLUCIONES</strong>
          <p>
            A- Cambio de producto (por averia o mal estado)
            <br>
            B- Cambio del producto por otro de mayor valor, el cliente paga la diferencia.
            <br>
          </p>

          <strong>DERECHOS DE MARCA Y PUBLICIDAD</strong>
          <p>
            Todos los elementos, incluidas las imágenes, textos, ilustraciones, íconos, logo e isotipos, fotografías,
            programas, animaciones, cualquier música, melodía, video clip y cualquier otro elemento que forma parte del
            Website sólo tiene como destino la comercialización de productos por parte de TRADE GROUP S.A., y se encuentra
            prohibida cualquier reproducción, modificación o distribución de los mismos.
          </p>
        </div>
      </div>
    </section>
  </section>
  <br><br>

  <app-footer></app-footer>
</ion-content>