<app-header [cargando]="cargando"></app-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<div class="container-fluid d-flex pl-4">
				<li class="breadcrumb-item"><a [routerLink]="['/']">INICIO</a></li>
				<li class="breadcrumb-item active" aria-current="page">CARRITO DE COMPRAS</li>
			</div>
		</ol>
	</nav>

	<header class="ftco-header px-md-5 px-xs-3">
		<h1 class="m-0">Carrito de Compras</h1>
	</header>

  <ion-grid class="cart-container mt-4 px-md-5 px-xs-3">
    <ion-row *ngIf="listaCarrito && listaCarrito.length">
      <ion-col size="12" size-md="12" size-lg="8">
        <div class="cart-list">

          <!-- INICIO CABECERA DE PRODUCTOS -->
          <ion-row class="header bg-light text-primary">
            
            <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4">
              <h6 class="ml-2">Producto</h6>
            </ion-col>

            <ion-col size-lg="10" size-md="10" size-sm="8" size-xs="8">
              <ion-row>
                
                <ion-col size-lg="5" size-md="5" size-sm="9" size-xs="10"></ion-col>
                
                <ion-col size-lg="3" size-md="3" size-sm="9" size-xs="9">
                  <h6 class="text-center">Cantidad</h6>
                </ion-col>
                
                <ion-col size-lg="3" size-md="2" size-sm="9" size-xs="9">
                  <h6 class="text-center">Subtotal</h6>
                </ion-col>

              </ion-row>
            </ion-col>

          </ion-row>
          <!-- FIN CABECERA DE PRODUCTOS -->

          <!-- INICIO LISTADO DE PRODUCTOS -->
          <ion-row *ngFor="let producto of listaCarrito" class="border-bottom">
            
            <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="picture-col">
              <div class="product-picture text-center">
                <a [routerLink]="['/producto', producto.slug]" class="miniCart_prod_title">
                  <img [src]="producto.imagen | productImage | urlSanitizer" alt="Product picture">
                </a>
                <div class="oferta"></div>
              </div>
            </ion-col>

            <ion-col size-lg="10" size-md="10" size-sm="8" size-xs="8" class="desc-col">
              <ion-row class="h-100">

                <ion-col size-lg="5" size-md="5" size-sm="9" size-xs="10" class="cart-item d-flex align-items-center">
                  <div class="productdata">
                    <a class="miniCart_prod_title" [routerLink]="['/producto', producto.slug]" title="Ver detalles">
                      {{ producto.descripcion }}
                    </a>
                    <div class="codigo">
                      Código: {{ producto.codigo_barras }}
                    </div>
                  </div>
                </ion-col>

                <ion-col size-lg="3" size-md="3" size-sm="9" size-xs="9" class="cart-item quantity d-flex align-items-center">
                  <div class="form-group input-group d-flex m-0">
                    
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad(cantidad, 'DI', producto)">
                        <ion-icon name="remove"></ion-icon>
                      </span>
                    </div>

                    <input type="text" name="cantidad" class="form-control text-center" min="1" max="100" [(ngModel)]="producto.cantidad" disabled #cantidad>
                    
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" (click)="asignarCantidad(cantidad, 'AU', producto)">
                        <ion-icon name="add"></ion-icon>
                      </span>
                    </div>

                  </div>
                </ion-col>

                <ion-col size-lg="3" size-md="2" size-sm="9" size-xs="9" class="cart-item price d-flex align-items-center justify-content-sm-start justify-content-md-center justify-content-md">
                  <div class="prices-content">
                    <span class="gs">Gs. </span>
                    <span class="productPrice"> {{producto.precio_venta * producto.cantidad | numberFormat}}</span>
                  </div>
                </ion-col>

                <span (click)="confirmarParaEliminarDelCarrito(producto)" class="btn btn-primary d-flex justify-content-center align-items-center remove-product">
                  <ion-icon name="trash" mode="ios"></ion-icon>
                </span>

              </ion-row>
            </ion-col>
          </ion-row>
          <!-- FIN LISTADO DE PRODUCTOS -->

        </div>
      </ion-col>

      <!-- INICIO TOTALES DEL PEDIDO -->
      <ion-col size-sm="12" size-md="4" size-lg="4" size="12">
        <div class="cart-total mb-3">
      
          <div class="header d-flex align-items-center mb-3">
            <ion-icon slot="start" name="basket" color="primary"></ion-icon>
            <div class="subheader">
              <span class="title ml-2">Resumen del carrito</span>
              <span class="subtitle ml-2" *ngIf="listaCarrito">{{ listaCarrito.length }} productos en el carrito</span>
            </div>
          </div>
      
          <div class="d-flex justify-content-between pb-2">
            <span>Sub Total</span>
            <span class="text-right">{{ totales.subtotal | numberFormat }} Gs.</span>
          </div>
      
          <div class="d-flex justify-content-between pb-2">
            <span>Descuento</span>
            <span class="text-right">{{ totales.descuento | numberFormat }} Gs.</span>
          </div>
      
          <hr class="border-top">
      
          <div class="d-flex justify-content-between total-price">
            <span>Total</span>
            <span class="text-right"><b>{{ totales.total | numberFormat }} Gs.</b></span>
          </div>
      
          <hr class="border-top">
      
          <div class="form-group" *ngIf="cuponDescuento.length">
            <p class="d-flex">
              <span>{{ cuponDescuento.descripcion }}</span>
              <span style="text-align: right;">{{ cuponDescuento.porcentaje | numberFormat }} %</span>
            </p>
          </div>
      
          <div class="form-group" *ngIf="!cuponDescuento.length && submitCuponDescuento">
            <p class="text-danger">No existe el cupon de descuento</p>
          </div>
      
          <div class="finish-order mt-3">
            <button (click)="listaCarrito?.length ? pedido() : false" class="btn btn-primary btn-block" mat-button [disabled]="!listaCarrito || !listaCarrito?.length">Pagar</button>
          </div>
        </div>
      </ion-col>
      <!-- FIN TOTALES DEL PEDIDO -->

    </ion-row>

    <ion-row *ngIf="!listaCarrito || !listaCarrito.length" class="text-center">
      <ion-col size="12" class="text-center">
        <img src="assets/images/sin-datos.png" width="150" height="150">
        <h4>No se encontraron productos en el carrito</h4>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-footer></app-footer>

</ion-content>