<app-header [cargando]="cargando"></app-header>

<ion-content>

  <section class="ftco-section ftco-cart" style="padding-top: 20px;">
    <div class="container">

      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="cart-list">

            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>&nbsp;</th>
                  <th>Nombre Prod.</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody *ngIf="listaCarrito">
                <tr class="text-center" *ngFor="let producto of listaCarrito">
                  <td>
                    <a (click)="confirmarParaEliminarDelCarrito(producto)"
                      class="btn btn-primary d-flex justify-content-center align-items-center text-center">
                      <ion-icon name="close"></ion-icon>
                    </a>
                  </td>

                  <td>
                    {{ producto.descripcion }}
                  </td>

                  <td>{{ producto.precio_venta | numberFormat}} Gs.</td>

                  <td>
                    <div class="input-group mb-3">
                      <input type="text" name="quantity" class="quantity form-control input-number"
                        value="{{ producto.cantidad }}" min="1" max="100">
                    </div>
                  </td>

                  <td class="total">{{producto.precio_venta * producto.cantidad | numberFormat}} Gs. </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <h5>Total</h5>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td class="total text-rigth">
                    <h5>{{total | numberFormat}} Gs.</h5>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col">
          <span class="float-right">
            <p (click)="(listaCarrito && listaCarrito.length) ? pedido() : return;">
              <a class="btn btn-primary py-2 px-4"
                [ngClass]="{'disabled': !listaCarrito || listaCarrito.length == 0}">Pagar</a>
            </p>
          </span>
        </div>
      </div>


    </div>

  </section>



  <app-footer [cargando]="cargando"></app-footer>

</ion-content>