.eliminar {
    background-color: white !important;
    border-color: #079a4a !important;
    color: #079a4a !important;
}
.eliminar:focus,
.eliminar:hover {
    background-color: #079a4a !important;
    border-color: white !important;
    color: white !important;
}

